# Clusterlogs Notebook

In [1]:
import pandas as pd
from clusterlogs import pipeline, cluster_output

### 1. Download data from file and create pandas DataFrame with index

In [12]:
df = pd.read_csv('test/error_messages.csv', index_col=0)

In [3]:
df = pd.read_csv('fts_mess_panda.csv', index_col=0).set_index('id')

In [13]:
df.head()

,exeerrorcode,exeerrordiag,pandaid,starttime
0,0,Error reading user generated output file list,4496765923,2019-10-05T13:28:30
1,0,Error reading user generated output file list,4497204929,2019-10-06T03:31:42
2,65,Non-zero return code from EVNTtoHITS (65); Log...,4496858944,2019-10-06T07:47:03
3,0,Error reading user generated output file list,4497111651,2019-10-05T21:09:37
4,0,Error reading user generated output file list,4496975592,2019-10-05T16:38:42

### 2. Initialize clusterization pipeline

Required parameters are: 
- df - pandas DataFrame with error messages
- target - name of a column with error messages

Not required parameters are cluster_settings. If not defined - the default values are used.
Note: It's better to use for big data samples with a vocabulary of more than 1000 tokens.

CLUSTERING_DEFAULTS = {"tokenizer": "nltk",
                       "w2v_size": "auto",
                       "w2v_window": 5,
                       "min_samples": 1}

But you can define these parameters. For example,

clustering_parameters = {'tokenizer':'nltk',
                         'w2v_size': 200,
                         'w2v_window': 5,
                         'min_samples': 1}

cluster = pipeline.ml_clustering(df, target, clustering_parameters)

In [14]:
target = 'exeerrordiag'

In [15]:
cluster = pipeline.ml_clustering(df, target, mode='create', model_name='test/word2vec_test.model')

### 3. Execute clusterization pipeline

In [16]:
cluster.process()

/Users/maria/anaconda3/lib/python3.7/site-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [17]:
cluster.w2v_size

53

### 4. Get clusters statistics

Clusters Statistics returns DataFrame with statistic for all clusters:
- "cluster_name" - name of a cluster
- "cluster_size" - number of log messages in cluster
- "pattern" - all common substrings in messages in the cluster
- "vocab" - all tokens in error messasges
- "vocab_length" - the length of cluster's vocabulary
- "mean_length" - average length of log messages in cluster
- "std_length" - standard deviation of length of log messages in cluster
- "mean_similarity" - average similarity of log messages in cluster
(calculated as the levenshtein distances between the 1st and all other log messages)
- "std_similarity" - standard deviation of similarity of log messages in cluster

In [18]:
output = cluster_output.Output(cluster.df, 
                               cluster.target, 
                               cluster.tokenizer, 
                               cluster.cluster_labels)

In [19]:
mode = 'INDEX'

In [20]:
output.clustered_output(mode)
stats = output.statistics(output_mode='frame')

In [21]:
stats.sort_values(by=['mean_similarity'])

,cluster_name,cluster_size,pattern,mean_length,mean_similarity,std_length,std_similarity
35,35,9,Input file argument T globbed to NO input file...,101.11,0.90,3.60,0.03
65,65,9,Failed in data staging: Failed checking source...,178.67,0.92,7.54,0.04
112,112,2,Non-zero return code from OMerge (*); Logfile ...,95.00,0.94,2.00,0.00
17,17,5,Non-zero return code from AODtoDAOD (*); Logfi...,129.40,0.95,3.20,0.03
41,41,3,File DAOD_D*.*._*.pool.root.* did not pass cor...,62.33,0.95,0.94,0.01
...,...,...,...,...,...,...,...
58,58,9,Non-zero return code from AODtoDAOD (*); Logfi...,116.00,1.00,0.00,0.00
68,68,8,Failed to clean up session dir before download...,56.00,1.00,0.00,0.00
54,54,8,"Fatal error in athena logfile: ""Long ERROR mes...",97.00,1.00,0.00,0.00
7,7,3,Non-zero return code from EVNTtoHITS (*); Logf...,195.00,1.00,0.00,0.00
149,149,1,Non-zero return code from EVNTtoHITS (*); Logf...,103.00,1.00,0.00,0.00

In [22]:
patterns = stats.sort_values(by='mean_similarity')[['pattern']].values

In [23]:
patterns

array([['Input file argument T globbed to NO input files - probably the file(s) are missing'],
       ['Failed in data staging: Failed checking source replica * Failed to obtain information about file: No such file or directory: Failed to stat file **/*/b_*.'],
       ['Non-zero return code from OMerge (*); Logfile error in log.OMerge: "KeyError: \'nentries\'"'],
       ['Non-zero return code from AODtoDAOD (*); Logfile error in log.AODtoDAOD: "* FATAL Standard std::exception is caught"'],
       ['File DAOD_D*.*._*.pool.root.* did not pass corruption test'],
       ['Non-zero return code from generate (*); Logfile error in log.generate: "*: MadSpin was run but can\'t find output folder Events/*_decayed_*."'],
       ['Non-zero return code from AODtoDAOD (*); Logfile error in log.AODtoDAOD: "* fault: Event counter: *; Run: *; Evt: *; Current algorithm: tag; Current Function: unknown"'],
       ['Non-zero return code from AODtoDAOD (*); Logfile error in log.AODtoDAOD: "StreamDAOD_* FATAL * failed."'],
       ['Failed in data staging: Failed to prepare destination * Failed to prepare destination: File exists: File requests have failed.: The requested SURL is locked by another upload.'],
       ['Non-zero return code from RAWtoESD (*); Logfile error in log.RAWtoESD: "IOVDbSvc FATAL Conditions database connection COOLOFL_TILE/OFLP* cannot be opened - STOP"'],
       ['Fatal error in athena logfile: "Logfile error in log.ESDtoAOD: "ToolSvc.* ERROR Failed to calculate gap after BCID * to a filled bunch! This shouldn\'t have happened!""'],
       ['Non-zero return code from RAWtoESD (*); Logfile error in log.RAWtoESD: "TypeError: reduce() of empty sequence with no initial value"'],
       ['Fatal error in athena logfile: "Logfile error in log.*: "*_eGammaB ERROR std::exception caught: std::exception""'],
       ['Non-zero return code from EVNTtoHITS (*); Logfile error in log.EVNTtoHITS: "Unable to identify specific exception"'],
       ['Non-zero return code from AODtoDAOD (*); Logfile error in log.AODtoDAOD: "ImportError: No module named *"'],
       ['Failed in data staging: Could not resolve any source replicas for rucio* Resolving of index service for source failed: No such file or directory: No valid locations found'],
       ['File * did not pass corruption test'],
       ['Fatal error in athena logfile: "Logfile error in log.AODtoDAOD: "ToolSvc.Trk::* ERROR The determinant of the track covariance matrix is negative: -*.*e+*""'],
       ['Non-zero return code from HITtoRDO (*); Logfile error in log.HITtoRDO: "PoolSvc FATAL Cannot disconnect Stream: *"'],
       ['Non-zero return code from OverlayBS (*); Logfile error in log.OverlayBS: "digitmaker* FATAL Standard std::exception is caught"'],
       ['Failed in data staging: Failed to prepare destination * Failed to prepare destination: File exists: File requests have failed.: File exists: * Failed in data staging: Failed to prepare destination *'],
       ['EVNTtoHITS got a SIGIOT signal (exit code *); Core dump at line * (see jobReport for further details)'],
       ['Non-zero return code from * (*); Logfile error in log.*: "* ERROR No valid track link found"'],
       ['Fatal error in athena logfile: "Logfile error in log.ESDtoAOD: "ToolSvc.HLTJetMon ERROR Unknown exception caught, while filling histograms""'],
       ['Non-zero return code from AODtoDAOD (*); Logfile error in log.AODtoDAOD: "* FATAL Cannot get Output *"'],
       ['AODtoDAOD got a SIGBUS signal (exit code *); Logfile error in log.AODtoDAOD: "Core dump from CoreDumpSvc: Event counter: *; Run: unknown; Evt: unknown; Current algorithm: AODFix_btagging_*; Current Function: unknown"'],
       ['Non-zero return code from AODtoDAOD (*)'],
       ['Non-zero return code from RAWtoESD (*); Logfile error in log.RAWtoESD: "* FATAL Failed event detected on s: * e: * w/ fail mode: AlgStall"'],
       ['Non-zero return code from ESDtoDPD (*); Logfile error in log.ESDtoDPD: "* ERROR Failure in waiting or sub-process finished abnormally"'],
       ['Fatal error in athena logfile: "Logfile error in log.*: "*.HLTJetMon ERROR Invalid ElementLink to online jet""'],
       ['Non-zero return code from EVNTtoHITS (*); G* exception at line * (see jobReport for further details)'],
       ['Non-zero return code from HITtoRDO (*); Logfile error in log.HITtoRDO: "* fault: Event counter: *; Run: *; Evt: *; Current algorithm: <NONE>; Current Function: unknown"'],
       ['Non-zero return code from * (*); Logfile error in log.*: "TypeError: %d format: a number is required, not NoneType"'],
       ['Non-zero return code from * (*); Logfile error in log.*: "* fault: Event counter: *; Run: *; Evt: *; Current algorithm: <NONE>; Current Function: unknown"'],
       ['Non-zero return code from EVNTtoHITS (*); Logfile error in log.EVNTtoHITS: "*"'],
       ['Job submission to LRMS failed'],
       ['Non-zero return code from * (*); Logfile error in log.*: "TrigSteer_HLT FATAL Signature: (TE = EF_xe*_step*) : Could not find matching sequence for output TE."'],
       ['Non-zero return code from generate (*); Logfile error in log.generate: "StreamEVGEN FATAL * failed."'],
       ['Fatal error in athena logfile: "Logfile error in log.*: "StreamRDO FATAL * failed.""'],
       ['Input file argument ${IN_MINBIAS_LOW/L} globbed to NO input files - probably the file(s) are missing'],
       ['Non-zero return code from athena (*); Logfile error in log.athena: "AthAlgSeq FATAL Standard std::exception is caught"'],
       ['LRMS error: (*) Job was cancelled by SLURM'],
       ['Failed in data staging: Failed to prepare destination * Failed to prepare destination: File exists: File requests have failed.: File exists: * Failed in data staging: Failed to prepare destination srm:'],
       ['Non-zero return code from RAWtoESD (*); Logfile error in log.RAWtoESD: ""'],
       ['Non-zero return code from RAWtoALL (*); Long ERROR message at line * (see jobReport for further details)'],
       ['Non-zero return code from EVNTtoHITS (*); Logfile error in log.EVNTtoHITS: "* fault: Event counter: *; Run: unknown; Evt: unknown; Current algorithm: <NONE>; Current Function: unknown"'],
       ['Non-zero return code from * (*); Logfile error in log.*: "*_FullScan_IDTrig ERROR Memory allocation issue caught: std::bad_alloc"'],
       ['Non-zero return code from EVNTtoHITS (*); Logfile error in log.EVNTtoHITS: "* FATAL Failed to write *"'],
       ['Fatal error in athena logfile: "Logfile error in log.AODtoDAOD: "StreamDAOD_EXOT* FATAL * failed.""'],
       ['Non-zero return code from AODtoDAOD (*); Logfile error in log.AODtoDAOD: "* FATAL Unable to apply Inner Detector alignments"'],
       ['Non-zero return code from EVNTtoHITS (*); Logfile error in log.EVNTtoHITS: "* fault: Event counter: *; Run: unknown; Evt: unknown; Current algorithm: *; Current Function: unknown"'],
       ['Job was gone while performing data transfer'],
       ['Non-zero return code from EVNTtoHITS (*); Logfile error in log.EVNTtoHITS: "cannot commit - no transaction is active ( CORAL : "*::execute" from "CORAL/*/sqlite" ) (C++ exception of type coral::Exception)"'],
       ['AODtoDAOD got a SIGKILL signal (exit code *); Logfile error in log.AODtoDAOD: "* ERROR Failure in waiting or sub-process finished abnormally"'],
       ['Non-zero return code from HITtoRDO (*); Logfile error in log.HITtoRDO: "SysError in <TFile::WriteBuffer>: error writing to file tmp.RDO_* (-*) (No space left on device)"'],
       ['generate got a SIGKILL signal (exit code *)'],
       ['Non-zero return code from * (*); Logfile error in log.*: "ImportError: No module named *"'],
       ['Failed in data staging: Failed to prepare destination * Failed to prepare destination: File exists: File requests have failed.: File exists: /pnfs/lcg.cscs.ch/atlas/*/rucio/panda/*/***CV*.tx*.log.*.*.log'],
       ['Non-zero return code from RAWtoESD (*); Logfile error in log.RAWtoESD: "Core dump from CoreDumpSvc: Event counter: *; Run: *; Evt: *; Current algorithm: *; Current Function: unknown"'],
       ['Non-zero return code from HITtoRDO (*); Logfile error in log.HITtoRDO: "StreamRDO FATAL * failed."'],
       ['Non-zero return code from HITtoRDO (*); Logfile error in log.HITtoRDO: "* FATAL Error adding sub events to *"'],
       ['Non-zero return code from * (*); Logfile error in log.*: "IOError: [Errno *] Input/output error: \'**.*/*/*.*.*/InstallArea/x*_*-slc*-gcc*-opt/jobOptions/Ca (truncated)'],
       ['Non-zero return code from * (*)'],
       ['AODMerge got a SIGKILL signal (exit code *)'],
       ['Non-zero return code from * (*); Logfile error in log.*: "StreamHITS FATAL Check number of writes failed. See messages above to identify which continer is not always written"'],
       ['Non-zero return code from * (*); Logfile error in log.*: "PerfMonSvc FATAL in *(): standard std::exception is caught"'],
       ['Non-zero return code from ESDtoAOD (*); Logfile error in log.ESDtoAOD: "TypeError: \'NoneType\' object is not callable"'],
       ['Non-zero return code from * (*); Logfile error in log.*: "* ERROR Unable to open ROOT file "tmp.RDO._*" with options "READ""'],
       ['Non-zero return code from generate (*)'],
       ['Non-zero return code from RAWtoALL (*); Logfile error in log.RAWtoALL: "*_CT ERROR FILE:LINE (StatusCode *::execute()): code FAILURE: evtStore()->retrieve( alltracks, m_* )"'],
       ['Non-zero return code from * (*); Long FATAL message at line * (see jobReport for further details)'],
       ['* got a SIGABRT signal (exit code *); Logfile error in log.*: "* ERROR std::bad_alloc"'],
       ['AODtoDAOD got a SIGKILL signal (exit code *); Logfile error in log.AODtoDAOD: "AODFix_* FATAL Standard std::exception is caught"'],
       ['Non-zero return code from EVNTtoHITS (*); Logfile error in log.EVNTtoHITS: "error: can\'t start new thread"'],
       ['Non-zero return code from generate (*); Logfile error in log.generate: "Herwig* FATAL Standard std::exception is caught"'],
       ['AODtoDAOD got a SIGHUP signal (exit code *)'],
       ['Fatal error in athena logfile: "Logfile error in log.RAWtoESD: "TRT_RDO_* ERROR Failed to convert persistent object to transient: Failed to add collection to ID Container""'],
       ['Non-zero return code from HITtoRDO (*); Logfile error in log.HITtoRDO: "IOError: [Errno *] Input/output error: \'**.*/*/*.*.*/InstallArea/x*_*-slc*-gcc*-opt/jobOptions/*/*.py\'"'],
       ['Non-zero return code from generate (*); Logfile error in log.generate: "TypeError: \'int\' object is not iterable"'],
       ['Non-zero return code from EVNTtoHITS (*); Logfile error in log.EVNTtoHITS: "* ERROR Failure in waiting or sub-process finished abnormally"'],
       ['Missing AthenaMP outputs file athenaMP-outputs-*-r*t (probably athena crashed)'],
       ['No events to process: * (skipEvents) >= * (inputEvents of EVNT'],
       ["Input file argument(s) ['RDO.pool.root'] globbed to NO input files - probably the file(s) are missing"],
       ['Non-zero return code from HITtoRDO (*); Logfile error in log.HITtoRDO: "* ERROR Failure in waiting or sub-process finished abnormally"'],
       ['Non-zero return code from AODtoDAOD (*); Logfile error in log.AODtoDAOD: "StreamDAOD_EXOT* FATAL * failed."'],
       ['Non-zero return code from AODtoDAOD (*); Long FATAL message at line * (see jobReport for further details)'],
       ['Fatal error in athena logfile: "Logfile error in log.generate: "Core dump from CoreDumpSvc: Event counter: *; Run: unknown; Evt: unknown; Current algorithm: EvgenGenSeq; Current Function: _dl_relocate_object""'],
       ['Non-zero return code from EVNTtoHITS (*); Logfile error in log.EVNTtoHITS: "* ERROR Unable to open ROOT file "EVNT.*._*.pool.root.*" with options "READ""'],
       ['Non-zero return code from AODtoDAOD (*); Logfile error in log.AODtoDAOD: "KeyError: \'nentries\'"'],
       ['Non-zero return code from AODtoDAOD (*); Logfile error in log.AODtoDAOD: "* fault: Event counter: *; Run: *; Evt: *; Current algorithm: <NONE>; Current Function: unknown"'],
       ['File data*_*TeV.***_m*._lb*._*.* did not pass corruption test'],
       [': ****'],
       ['Non-zero return code from * (*); Logfile error in log.*: "* ERROR Failure in waiting or sub-process finished abnormally"'],
       ['Non-zero return code from AODtoDAOD (*); Logfile error in log.AODtoDAOD: "SyntaxError: invalid token"'],
       ['EVNTtoHITS got a SIGKILL signal (exit code *)'],
       ['LRMS error: (*) Job failed'],
       ['Non-zero return code from EVNTtoHITS (*); Logfile error in log.EVNTtoHITS: "IOVDbSvc FATAL Conditions database connection COOLOFL_INDET/OFLP* cannot be opened - STOP"'],
       ['Non-zero return code from AODtoDAOD (*); Logfile error in log.AODtoDAOD: "* ERROR Failure in waiting or sub-process finished abnormally"'],
       ['Missing AthenaMP outputs file **r (probably athena crashed)'],
       ['No events to process: * (skipEvents) >= * (inputEvents of HITS'],
       ['Non-zero return code from EVNTtoHITS (*)'],
       ['Error reading user generated output file list'],
       ['Non-zero return code from AODtoDAOD (*); Logfile error in log.AODtoDAOD: "* FATAL makePool failed for *.*"'],
       ['LRMS error: (*) Job was cancelled'],
       ['AODtoDAOD got a SIGKILL signal (exit code *)'],
       ['Fatal error in athena logfile: "Logfile error in log.EVNTtoHITS: "ISF_MC*LLPTrut... ERROR Unable to register truth incident with unknown SimGeoID=*""'],
       ['Fatal error in athena logfile: "G* exception at line * (see jobReport for further details)"'],
       ['Non-zero return code from EVNTtoHITS (*); Core dump at line * (see jobReport for further details)'],
       ['Data type graph error'],
       ['Non-zero return code from AODtoDAOD (*); Logfile error in log.AODtoDAOD: "*: \'str\' object has no attribute \'items\'"'],
       ['Non-zero return code from AODtoDAOD (*); Logfile error in log.AODtoDAOD: "*: \'module\' object has no attribute \'*\'"'],
       ['LRMS error: (*) Job timeout'],
       ['Non-zero return code from generate (*); Logfile error in log.generate: "Py:Generate ERROR MC*.*.*_ttbar_hdamp*p*_**.py contains a * field of more than * characters: please rename."'],
       ['Two identical output *: *'],
       ['Non-zero return code from AODtoDAOD (*); Logfile error in log.AODtoDAOD: "*: Smart slimming container BTagging_* does not exist or does not have a smart slimming list"'],
       ['Fatal error in athena logfile: "Logfile error in log.RAWtoESD: "ToolSvc.Trk::* ERROR The determinant of the track covariance matrix is negative: -*.*e+*""'],
       ['Non-zero return code from RAWtoESD (*); Long FATAL message at line * (see jobReport for further details)'],
       ['Missing AthenaMP outputs file **e (probably athena crashed)'],
       ['Non-zero return code from ESDtoAOD (*); Logfile error in log.ESDtoAOD: "* ERROR Failure in waiting or sub-process finished abnormally"'],
       ['Non-zero return code from EVNTtoHITS (*); Logfile error in log.EVNTtoHITS: "IOVDbSvc FATAL Conditions database connection COOLOFL_TRT/OFLP* cannot be opened - STOP"'],
       ['File EVNT.*._*.pool.root.* did not pass corruption test'],
       ['Non-zero return code from EVNTtoHITS (*); Logfile error in log.EVNTtoHITS: "* fault: Event counter: *; Run: *; Evt: *; Current algorithm: ISF_Kernel_FullG*; Current Function: unknown"'],
       ['Non-zero return code from HepEvnt (*); Logfile error in log.HepEvnt: "StreamAOD FATAL * failed."'],
       ['Non-zero return code from AODtoDAOD (*); Logfile error in log.AODtoDAOD: "IOError: [Errno *] Input/output error: \'**.*/*/*.*.*.*/InstallArea/x*_*-slc*-gcc*-opt/jobOptions/* (truncated)'],
       ['Non-zero return code from HITSMerge (*); Logfile error in log.HITSMerge: ""'],
       ['EVNTtoHITS got a SIGIOT signal (exit code *); G* exception at line * (see jobReport for further details)'],
       ['Non-zero return code from AODtoDAOD (*); Logfile error in log.AODtoDAOD: "* FATAL Standard std::exception is caught"'],
       ['Non-zero return code from AODtoDAOD (*); Logfile error in log.AODtoDAOD: "Unable to identify specific exception"'],
       ['Non-zero return code from RAWtoESD (*); Logfile error in log.RAWtoESD: "* fault: Event counter: *; Run: *; Evt: *; Current algorithm: <NONE>; Current Function: unknown"'],
       ['Missing AthenaMP outputs file * (probably athena crashed)'],
       ['File AOD.*._*.pool.root.* did not pass corruption test'],
       ['Non-zero return code from RAWtoESD (*); Logfile error in log.RAWtoESD: "* ERROR Failure in waiting or sub-process finished abnormally"'],
       ['Fatal error in athena logfile: "Logfile error in log.RAWtoALL: "ToolSvc.HLTJetMon ERROR Unknown exception caught, while filling histograms""'],
       ['LRMS error: (-*) Job timeout'],
       ['Non-zero return code from EVNTtoHITS (*); Logfile error in log.EVNTtoHITS: "ValueError: ATLAS-P*-ITK-*-*-* is not the expected type and/or the value is not allowed for: *.SimFlags.SimLayout"'],
       ['Failed in data staging: Failed checking source replica * Failed to obtain information about file: Permission denied'],
       ['LRMS error: (-*) Job missing from SLURM'],
       ['Non-zero return code from AODtoDAOD (*); Logfile error in log.AODtoDAOD: "* fault: Event counter: *; Run: *; Evt: *; Current algorithm: *; Current Function: unknown"'],
       ['Non-zero return code from EVNTtoHITS (*); Logfile error in log.EVNTtoHITS: "* FATAL makePool failed for *.*"'],
       ['ESDtoDPD got a SIGKILL signal (exit code *)'],
       ['Non-zero return code from generate (*); Logfile error in log.generate: "IOError: [Errno *] No such file or directory: \'**/Events/run_*/unweighted_events.lhe\'"'],
       ['Event count check for EVNT to HITS failed: found * events, expected from * to *; Core dump at line * (see jobReport for further details)'],
       ['Non-zero return code from generate (*); Logfile error in log.generate: "*: include file MC*.*.**.py can not be found"'],
       ['Non-zero return code from generate (*); Logfile error in log.generate: "*: \'EvgenConfig\' object has no attribute \'*\'"'],
       ['Non-zero return code from EVNTtoHITS (*); Logfile error in log.EVNTtoHITS: "* FATAL in *(): standard std::exception is caught"'],
       ['Non-zero return code from AODtoDAOD (*); Logfile error in log.AODtoDAOD: "PoolSvc FATAL Cannot disconnect Stream: *"'],
       ['Failed to clean up session dir before downloading inputs'],
       ['Fatal error in athena logfile: "Long ERROR message at line * (see jobReport for further details)"'],
       ['Non-zero return code from EVNTtoHITS (*); Logfile error in log.EVNTtoHITS: "* fault: Event counter: *; Run: unknown; Evt: unknown; Current algorithm: ISF_Kernel_FullG*; Current Function: unknown"'],
       ['Non-zero return code from EVNTtoHITS (*); Logfile error in log.EVNTtoHITS: "StreamHITS FATAL * failed."']],
      dtype=object)

In [24]:
stats_1 = output.postprocessing()

In [25]:
stats_1

,cluster_name,cluster_size,pattern,mean_length,mean_similarity,std_length,std_similarity
9,20,1821,Non-zero return code from (*),123.03,0.43,30.53,0.14
23,62,1141,Input file argument globbed to NO input files...,100.04,0.90,0.37,0.00
1,10,602,Missing AthenaMP outputs file * (probably athe...,60.31,0.97,4.85,0.04
6,13,427,No events to process: * (skipEvents) >= * (inp...,62.00,0.98,0.00,0.00
22,56,218,LRMS error: (*) Job,28.89,0.83,3.64,0.06
20,53,116,"Fatal error in athena logfile: ""Logfile error ...",146.87,0.63,10.41,0.05
0,0,109,Error reading user generated output file list,45.00,1.00,0.00,0.00
12,28,97,AOD got a SIG signal (exit code *),43.98,0.95,0.14,0.04
18,5,97,"Fatal error in athena logfile: ""on at line * (...",91.49,0.95,1.65,0.02
14,31,84,Data type graph error,21.00,1.00,0.00,0.00
16,40,61,Nonet code *); o at line * (see jobReport for ...,104.56,0.76,1.25,0.06
15,33,36,Non-zero return code from AtoD (*); Logfile er...,169.11,0.95,3.77,0.03
11,26,36,File * did not pass corruption test,58.19,0.80,5.07,0.04
19,50,30,"Fatal error in athena logfile: ""Logfile error ...",209.00,1.00,0.00,0.00
10,23,27,Eto got a SIGKILL signal (exit code *),44.26,0.93,0.97,0.03
7,147,18,: ****,6.00,1.00,0.00,0.00
25,64,14,Two identical output *: *,25.00,1.00,0.00,0.00
21,55,11,Failed in data staging: Failed checking source...,115.00,1.00,0.00,0.00
24,63,10,Event count check for EVNT to HITS failed: fou...,136.00,1.00,0.00,0.00
26,65,10,Failed in data staging: ld en source replica *...,177.80,0.76,7.61,0.13
27,68,8,Failed to clean up session dir before download...,56.00,1.00,0.00,0.00
2,101,7,Failed in data staging: Failed to prepare dest...,197.43,0.81,9.42,0.09
29,80,7,Non-zero return code from (*); Logfile error ...,173.00,0.60,13.32,0.07
13,30,4,Non-zero return code from (*),36.75,0.91,3.34,0.06
17,46,3,AODtoDAOD got a SIGBUS signal (exit code *); L...,216.00,1.00,0.00,0.00
8,2,2,Job submission to LRMS failed,29.00,1.00,0.00,0.00
28,69,2,AODtoDAOD got a SIGKILL signal (exit code *); ...,134.50,0.68,6.50,0.00
5,120,1,* got a SIGABRT signal (exit code *); Logfile ...,86.00,1.00,0.00,0.00
4,117,1,generate got a SIGKILL signal (exit code *),43.00,1.00,0.00,0.00
3,111,1,Job was gone while performing data transfer,43.00,1.00,0.00,0.00

In [26]:
patterns1 = stats_1.sort_values(by='mean_similarity')[['pattern']].values

In [27]:
patterns1

array([['Non-zero return code from  (*)'],
       ['Non-zero return code from  (*); Logfile error in log.: "Eor: * u: *tretoOtion un'],
       ['Fatal error in athena logfile: "Logfile error in log.: "  e""'],
       ['AODtoDAOD got a SIGKILL signal (exit code *); Logfile error in log.AODtoDAOD: "* F tnrd oa"'],
       ['Failed in data staging: ld en source replica * ailed: No such file or directory: aid oat f'],
       ['Nonet code *); o at line * (see jobReport for further details)'],
       ['File * did not pass corruption test'],
       ['Failed in data staging: Failed to prepare destination * Failed to prepare destination: File exists: File requests have failed.: '],
       ['LRMS error: (*) Job '],
       ['Input file argument  globbed to NO input files - probably the file(s) are missing'],
       ['Non-zero return code from  (*)'],
       ['Eto got a SIGKILL signal (exit code *)'],
       ['Fatal error in athena logfile: "on at line * (see jobReport for further details)"'],
       ['Non-zero return code from AtoD (*); Logfile error in log.AtoD: " fu: Event counter: *; Run: *; Evt: *; Current algorithm: ; Current Function: unknown"'],
       ['AOD got a SIG signal (exit code *)'],
       ['Missing AthenaMP outputs file * (probably athena crashed)'],
       ['No events to process: * (skipEvents) >= * (inputEvents of T'],
       ['Data type graph error'],
       ['* got a SIGABRT signal (exit code *); Logfile error in log.*: "* ERROR std::bad_alloc"'],
       ['Job submission to LRMS failed'],
       ['AODtoDAOD got a SIGBUS signal (exit code *); Logfile error in log.AODtoDAOD: "Core dump from CoreDumpSvc: Event counter: *; Run: unknown; Evt: unknown; Current algorithm: AODFix_btagging_*; Current Function: unknown"'],
       ['Error reading user generated output file list'],
       ['Failed to clean up session dir before downloading inputs'],
       ['Failed in data staging: Failed checking source replica * Failed to obtain information about file: Permission denied'],
       ['Two identical output *: *'],
       [': ****'],
       ['generate got a SIGKILL signal (exit code *)'],
       ['Fatal error in athena logfile: "Logfile error in log.generate: "Core dump from CoreDumpSvc: Event counter: *; Run: unknown; Evt: unknown; Current algorithm: EvgenGenSeq; Current Function: _dl_relocate_object""'],
       ['Event count check for EVNT to HITS failed: found * events, expected from * to *; Core dump at line * (see jobReport for further details)'],
       ['Job was gone while performing data transfer']], dtype=object)

In [15]:
import difflib

In [16]:
sorted_df = output.stat_df.sort_values(by=['cluster_size'])[['cluster_size','cluster_name','pattern']]

In [135]:
sorted_df

,cluster_size,cluster_name,pattern
149,1,149,Non-zero return code from EVNTtoHITS (*); Logf...
138,1,138,Non-zero return code from * (*); Logfile error...
136,1,136,Non-zero return code from ESDtoAOD (*); Logfil...
139,1,139,Non-zero return code from * (*); Logfile error...
140,1,140,Non-zero return code from * (*); Logfile error...
...,...,...,...
29,140,29,Non-zero return code from EVNTtoHITS (*)
13,385,13,No events to process: * (skipEvents) >= * (inp...
10,549,10,Missing AthenaMP outputs file **r (probably at...
20,805,20,Non-zero return code from AODtoDAOD (*); Logfi...
62,1098,62,Input file argument ${IN_MINBIAS_LOW/L} globbe...

In [136]:
def match(df, new_clusters):
    start = df.head(1)['pattern'].values[0]
#     print(start)
    ratio = [difflib.SequenceMatcher(None, start, x).ratio() for x in df['pattern']]
    df['ratio'] = ratio
    filtered = df[df['ratio'] > 0.6]['cluster_name'].values
    new_clusters.append(filtered)
#     print(filtered)
    df.drop(df[df['cluster_name'].isin(filtered)].index, inplace=True)
#     print(df)
    while df.shape[0] > 0:
        match(df, new_clusters)

In [137]:
new_clusters = []
# start = sorted_df.head(1)['pattern'].values[0]
# print(start)
match(sorted_df, new_clusters)

In [140]:
new_clusters

[array(['149', '136', '139', '133', '142', '143', '146', '144', '123',
        '105', '102', '51', '87', '79', '73', '72', '118', '112', '106',
        '48', '122', '109', '110', '108', '59', '90', '17', '3', '58',
        '93', '1', '36', '70', '39', '52', '74', '37', '24', '14', '45',
        '19'], dtype=object),
 array(['138', '97', '25', '86', '85', '9', '57'], dtype=object),
 array(['140'], dtype=object),
 array(['141', '117', '76', '67', '23', '28'], dtype=object),
 array(['135', '148', '30', '29'], dtype=object),
 array(['134', '81', '80'], dtype=object),
 array(['132', '95'], dtype=object),
 array(['131', '128', '91', '22'], dtype=object),
 array(['145', '137', '88'], dtype=object),
 array(['130', '84', '82', '101'], dtype=object),
 array(['129'], dtype=object),
 array(['127', '21', '99'], dtype=object),
 array(['126'], dtype=object),
 array(['124', '41', '8', '32', '26'], dtype=object),
 array(['107'], dtype=object),
 array(['120', '115', '69'], dtype=object),
 array(['121', '89', '27', '71', '113', '100', '54', '40', '43'],
       dtype=object),
 array(['116'], dtype=object),
 array(['114'], dtype=object),
 array(['111'], dtype=object),
 array(['4', '94', '119', '77', '66', '98', '125', '46', '7', '6', '47',
        '33'], dtype=object),
 array(['104'], dtype=object),
 array(['83', '96', '78', '60', '56'], dtype=object),
 array(['2'], dtype=object),
 array(['92'], dtype=object),
 array(['12', '103', '75', '10'], dtype=object),
 array(['68'], dtype=object),
 array(['65', '55'], dtype=object),
 array(['35', '49', '62'], dtype=object),
 array(['42', '38', '16', '34'], dtype=object),
 array(['63'], dtype=object),
 array(['11'], dtype=object),
 array(['61'], dtype=object),
 array(['15', '20'], dtype=object),
 array(['64'], dtype=object),
 array(['44'], dtype=object),
 array(['147'], dtype=object),
 array(['50'], dtype=object),
 array(['18', '13'], dtype=object),
 array(['31'], dtype=object),
 array(['5'], dtype=object),
 array(['53'], dtype=object),
 array(['0'], dtype=object)]

In [145]:
a = []
for i in new_clusters:
    x = cluster.df[cluster.df['cluster'].isin(i)].index
    a.append({'cluster_name':i[-1],'idx':x})
print(a)

for i in a:
    cluster.df.loc[i['idx'], 'cluster_level_2'] = i['cluster_name']

[{'cluster_name': '19', 'idx': Int64Index([   2,    6,    7,    8,    9,   46,   59,   62,   63,   64,
            ...
            4861, 4874, 4875, 4897, 4912, 4915, 4937, 4949, 4956, 4967],
           dtype='int64', length=568)}, {'cluster_name': '57', 'idx': Int64Index([  50,   54,   55,  105,  275,  394,  580,  581,  645,  674,  914,
             923,  925,  926,  987,  993,  994, 1012, 1022, 1030, 1031, 1032,
            1037, 1246, 1268, 1343, 1389, 1555, 1843, 1845, 1863, 1944, 1948,
            1952, 1956, 1957, 1961, 2298, 2372, 2811, 2815, 2825, 2843, 2888,
            2913, 2915, 2926, 2932, 2933, 3022, 3251, 3524, 3572, 3763, 3772,
            3850, 3869, 3897, 3902, 3912, 4382, 4490, 4753, 4758, 4845, 4855,
            4883],
           dtype='int64')}, {'cluster_name': '140', 'idx': Int64Index([4037], dtype='int64')}, {'cluster_name': '28', 'idx': Int64Index([  90,  128,  260,  280,  290,  306,  408,  409,  410,  419,
            ...
            4374, 4390, 4403, 4405, 4406, 4425, 4427, 4458, 4707, 4851],
           dtype='int64', length=125)}, {'cluster_name': '29', 'idx': Int64Index([ 130,  133,  135,  138,  139,  141,  147,  148,  150,  155,
            ...
            4103, 4115, 4124, 4126, 4139, 4187, 4189, 4235, 4276, 4881],
           dtype='int64', length=144)}, {'cluster_name': '80', 'idx': Int64Index([911, 912, 1851, 1854, 3790, 3793, 3798, 4756], dtype='int64')}, {'cluster_name': '95', 'idx': Int64Index([1312, 1325, 1347, 1354, 1387, 3193, 3303, 3757], dtype='int64')}, {'cluster_name': '22', 'idx': Int64Index([88, 1082, 1109, 1983, 2002, 2006, 2054, 2075, 2963, 3048, 3203,
            3426, 4011],
           dtype='int64')}, {'cluster_name': '88', 'idx': Int64Index([1068, 1789, 3801, 4654], dtype='int64')}, {'cluster_name': '101', 'idx': Int64Index([942, 967, 1553, 3425, 3458, 4422, 4798], dtype='int64')}, {'cluster_name': '129', 'idx': Int64Index([3343], dtype='int64')}, {'cluster_name': '99', 'idx': Int64Index([84, 1534, 2089, 2443, 3199, 3999], dtype='int64')}, {'cluster_name': '126', 'idx': Int64Index([3143], dtype='int64')}, {'cluster_name': '26', 'idx': Int64Index([  41,  108,  115,  169,  181,  245,  470,  596,  597, 1056, 1084,
            1089, 1092, 1115, 1135, 1255, 2020, 2060, 2076, 2524, 2975, 2985,
            3004, 3024, 3075, 3258, 3477, 3762, 3979, 3983, 4014, 4022, 4091,
            4327, 4736, 4979],
           dtype='int64')}, {'cluster_name': '107', 'idx': Int64Index([2009], dtype='int64')}, {'cluster_name': '69', 'idx': Int64Index([609, 2288, 2793], dtype='int64')}, {'cluster_name': '43', 'idx': Int64Index([ 117,  239,  259,  322,  328,  335,  350,  367,  369,  375,
            ...
            4444, 4475, 4862, 4911, 4917, 4947, 4953, 4954, 4955, 4958],
           dtype='int64', length=158)}, {'cluster_name': '116', 'idx': Int64Index([2361], dtype='int64')}, {'cluster_name': '114', 'idx': Int64Index([2234], dtype='int64')}, {'cluster_name': '111', 'idx': Int64Index([2211], dtype='int64')}, {'cluster_name': '33', 'idx': Int64Index([  11,   24,   28,   29,   37,   43,  178,  184,  301,  305,  327,
             344,  468,  474,  553,  630,  791,  804,  851, 1253, 1276, 1306,
            1486, 1520, 1643, 1779, 2067, 2085, 2121, 2189, 2201, 2279, 2305,
            2703, 2867, 3051, 3134, 3138, 3272, 3397, 3482, 3615, 3723, 4161,
            4175, 4205, 4252, 4253, 4397, 4452, 4519, 4691, 4782, 4803, 4871,
            4873],
           dtype='int64')}, {'cluster_name': '104', 'idx': Int64Index([1852], dtype='int64')}, {'cluster_name': '56', 'idx': Int64Index([ 387,  398,  416,  429,  432,  433,  436,  437,  484,  501,
            ...
            4899, 4904, 4905, 4906, 4907, 4913, 4942, 4968, 4985, 4986],
           dtype='int64', length=204)}, {'cluster_name': '2', 'idx': Int64Index([5, 10], dtype='int64')}, {'cluster_name': '92', 'idx': Int64Index([1119, 2965], dtype='int64')}, {'cluster_name': '10', 'idx': Int64Index([  51,   52,   53,   57,  154,  381,  388,  389,  390,  392,
            ...
            4849, 4850, 4853, 4854, 4856, 4858, 4859, 4880, 4965, 4969],
           dtype='int64', length=602)}, {'cluster_name': '68', 'idx': Int64Index([590, 592, 1565, 1566, 1567, 2518, 4434, 4435], dtype='int64')}, {'cluster_name': '55', 'idx': Int64Index([ 384,  385,  386,  530,  535, 1315, 1510, 1512, 2452, 3239, 3240,
            3241, 3277, 3412, 3413, 3414, 4239, 4240, 4241, 4386],
           dtype='int64')}, {'cluster_name': '62', 'idx': Int64Index([ 192,  311,  337,  430,  476,  482,  483,  486,  490,  491,
            ...
            4991, 4992, 4993, 4994, 4995, 4996, 4997, 4998, 4999, 5000],
           dtype='int64', length=1141)}, {'cluster_name': '34', 'idx': Int64Index([  68,  182,  194,  201,  234,  235,  253,  297,  298,  314,  316,
             320,  345,  373,  397,  457, 1053, 1054, 1055, 1139, 1189, 1190,
            1240, 1242, 1288, 1289, 1291, 1299, 1300, 1301, 1304, 1333, 1352,
            1404, 1405, 1406, 1407, 1975, 1976, 1977, 2073, 2080, 2123, 2124,
            2125, 2126, 2145, 2195, 2196, 2200, 2217, 2244, 2254, 2256, 2270,
            2355, 2356, 2357, 3057, 3078, 3263, 3934, 3949, 3950, 4034, 4047,
            4048, 4082, 4156, 4157, 4162, 4215, 4222, 4223, 4224, 4230, 4243,
            4316, 4317],
           dtype='int64')}, {'cluster_name': '63', 'idx': Int64Index([519, 811, 1379, 1528, 2307, 2574, 3161, 3364, 4194, 4254], dtype='int64')}, {'cluster_name': '11', 'idx': Int64Index([56, 356, 414, 1338, 1341, 1394, 2304, 2516, 3269, 3281, 4200, 4266,
            4309],
           dtype='int64')}, {'cluster_name': '61', 'idx': Int64Index([439, 442, 443, 1391, 1392, 2339, 2929, 2930, 2931, 3748, 3919,
            4306, 4308, 4857],
           dtype='int64')}, {'cluster_name': '20', 'idx': Int64Index([  61,   78,   82,   83,   85,   86,   87,   89,   91,   92,
            ...
            4878, 4889, 4893, 4900, 4916, 4948, 4957, 4960, 4964, 4976],
           dtype='int64', length=819)}, {'cluster_name': '64', 'idx': Int64Index([ 529,  531, 1511, 1513, 2451, 2453, 3408, 3409, 3410, 3411, 3415,
            3416, 3417, 4387],
           dtype='int64')}, {'cluster_name': '44', 'idx': Int64Index([ 263,  264,  277, 1215, 2142, 2143, 2144, 2162, 2169, 3101, 3129,
            4096, 4112, 4127, 4128],
           dtype='int64')}, {'cluster_name': '147', 'idx': Int64Index([4879, 4908, 4909, 4910, 4914, 4921, 4925, 4926, 4927, 4929, 4930,
            4933, 4950, 4951, 4952, 4972, 4974, 4975],
           dtype='int64')}, {'cluster_name': '50', 'idx': Int64Index([ 313,  317,  379,  411,  418,  475,  479, 1271, 1357, 1358, 1360,
            1430, 2224, 2281, 2384, 2386, 2387, 2388, 3158, 3164, 3172, 3284,
            3285, 3291, 3292, 3340, 3342, 4170, 4231, 4264],
           dtype='int64')}, {'cluster_name': '13', 'idx': Int64Index([  58,   60,   70,   71,   73,   75,   76,   77,   79,   80,
            ...
            4797, 4802, 4804, 4806, 4807, 4808, 4809, 4810, 4811, 4813],
           dtype='int64', length=427)}, {'cluster_name': '31', 'idx': Int64Index([ 142,  143,  144,  145,  146,  161,  162,  163,  164,  165,  166,
             167,  170,  174,  175,  218,  219,  220,  225,  226,  227,  230,
             265,  266, 1100, 1101, 1102, 1117, 1118, 1123, 1124, 1127, 1128,
            1174, 1181, 1182, 1186, 1216, 2039, 2040, 2055, 2057, 2058, 2059,
            2061, 2065, 2066, 2108, 2115, 2116, 2117, 2118, 2119, 2163, 3012,
            3013, 3014, 3015, 3018, 3019, 3025, 3026, 3067, 3072, 3073, 3116,
            3117, 3118, 4018, 4023, 4024, 4025, 4026, 4027, 4028, 4069, 4070,
            4071, 4072, 4074, 4079, 4080, 4081, 4113],
           dtype='int64')}, {'cluster_name': '5', 'idx': Int64Index([  16,   93,  100,  172,  210,  216,  243,  271,  299,  326,  334,
             341,  370,  473,  835,  878, 1073, 1122, 1142, 1166, 1184, 1191,
            1257, 1285, 1294, 1311, 1359, 1363, 1378, 1380, 1412, 1429, 1472,
            1480, 1803, 1828, 1930, 1963, 2000, 2015, 2070, 2081, 2186, 2237,
            2250, 2295, 2364, 2511, 2532, 2537, 2629, 2766, 2984, 3077, 3127,
            3168, 3179, 3186, 3198, 3224, 3261, 3264, 3293, 3300, 3505, 3512,
            3714, 3747, 3786, 3825, 3952, 4015, 4061, 4077, 4114, 4118, 4119,
            4147, 4180, 4197, 4250, 4273, 4278, 4325, 4401, 4402, 4679, 4865,
            4884],
           dtype='int64')}, {'cluster_name': '53', 'idx': Int64Index([ 368,  380,  417,  444,  446,  448,  450,  452,  453,  454,  462,
             464,  466,  469,  503,  537,  601, 1149, 1219, 1283, 1313, 1345,
            1349, 1369, 1390, 1403, 1411, 1424, 1425, 1481, 1525, 1527, 1570,
            2181, 2268, 2272, 2289, 2302, 2328, 2340, 2344, 2347, 2349, 2368,
            2379, 2383, 2423, 2442, 2449, 2480, 2561, 3040, 3089, 3141, 3148,
            3236, 3238, 3262, 3309, 3311, 3313, 3325, 3326, 3337, 3338, 3357,
            3391, 3423, 4106, 4153, 4198, 4204, 4208, 4236, 4294, 4297, 4307,
            4310, 4311, 4312, 4313, 4315, 4318, 4319, 4321, 4385, 4391, 4395,
            4430, 4459],
           dtype='int64')}, {'cluster_name': '0', 'idx': Int64Index([   0,    1,    3,    4,   12,   13,   14,   15,   17,   18,
            ...
            4389, 4411, 4413, 4415, 4416, 4419, 4420, 4421, 4895, 4943],
           dtype='int64', length=109)}]

In [149]:
cluster.df['cluster_level_2'].describe()

count     5001
unique      43
top         62
freq      1141
Name: cluster_level_2, dtype: object

In [52]:
sorted_list = sorted_df['pattern'].tolist()

In [66]:
start = sorted_list[0]
print(start)
ratio = []
for x in sorted_list:
    ratio.append(difflib.SequenceMatcher(None, start, x).ratio())
print(ratio)
ids = [i for i,x in enumerate(ratio) if x > 0.6]
print(ids)

Non-zero return code from EVNTtoHITS (*); Logfile error in log.EVNTtoHITS: "StreamHITS FATAL * failed."
[1.0, 0.5638766519823789, 0.6181818181818182, 0.6272727272727273, 0.592057761732852, 0.1917808219178082, 0.44776119402985076, 0.4740740740740741, 0.6698113207547169, 0.6334841628959276, 0.32727272727272727, 0.4397163120567376, 0.6564102564102564, 0.3488372093023256, 0.39069767441860465, 0.2302158273381295, 0.5757575757575758, 0.3333333333333333, 0.5957446808510638, 0.6538461538461539, 0.17582417582417584, 0.15942028985507245, 0.663594470046083, 0.611353711790393, 0.5144927536231884, 0.5989304812834224, 0.455026455026455, 0.48, 0.2054794520547945, 0.5220588235294118, 0.39344262295081966, 0.5194805194805194, 0.273972602739726, 0.5886524822695035, 0.6255506607929515, 0.5841584158415841, 0.8682926829268293, 0.5517241379310345, 0.578397212543554, 0.5092250922509225, 0.784688995215311, 0.7159090909090909, 0.03289473684210526, 0.1793103448275862, 0.6666666666666666, 0.49122807017543857, 0.1643835616438356, 0.845771144278607, 0.6188340807174888, 0.47342995169082125, 0.4329004329004329, 0.7980295566502463, 0.625, 0.5517241379310345, 0.490272373540856, 0.6390041493775933, 0.4507042253521127, 0.5907172995780591, 0.5092250922509225, 0.7465437788018433, 0.861878453038674, 0.18181818181818182, 0.5801526717557252, 0.28431372549019607, 0.36619718309859156, 0.21262458471760798, 0.5779816513761468, 0.4962962962962963, 0.20689655172413793, 0.6731707317073171, 0.37037037037037035, 0.032679738562091505, 0.5637583892617449, 0.13664596273291926, 0.5953488372093023, 0.5035971223021583, 0.639269406392694, 0.4808362369337979, 0.6046511627906976, 0.2898550724637681, 0.7303370786516854, 0.1625, 0.8341708542713567, 0.639269406392694, 0.22784810126582278, 0.6741573033707865, 0.5907172995780591, 0.1728395061728395, 0.4927536231884058, 0.35797665369649806, 0.5874125874125874, 0.14012738853503184, 0.5907172995780591, 0.07547169811320754, 0.36213991769547327, 0.28, 0.26459143968871596, 0.639269406392694, 0.1945945945945946, 0.7685589519650655, 0.8720379146919431, 0.5363984674329502, 0.1643835616438356, 0.6, 0.5818181818181818, 0.22594142259414227, 0.5, 0.18309859154929578, 0.05504587155963303, 0.5802047781569966, 0.16793893129770993, 0.5185185185185185, 0.171875, 0.508833922261484, 0.1891891891891892, 0.5739910313901345, 0.05504587155963303, 0.14634146341463414, 0.4908424908424908, 0.6464646464646465, 0.65625, 0.6372549019607843, 0.8058252427184466, 0.8, 0.07692307692307693, 0.5907172995780591, 0.18627450980392157, 0.21818181818181817, 0.16574585635359115, 0.6970954356846473, 0.4807692307692308, 0.26356589147286824, 0.5596707818930041, 0.19117647058823528, 0.6691449814126395, 0.6082949308755761, 0.6055045871559633, 0.1774193548387097, 0.55, 0.28865979381443296, 0.40476190476190477, 0.16923076923076924, 0.16326530612244897, 0.7272727272727273, 0.20270270270270271, 0.5594405594405595, 0.20606060606060606, 0.1728395061728395, 0.5690376569037657, 0.17733990147783252]
[0, 2, 3, 8, 9, 12, 19, 22, 23, 34, 36, 40, 41, 44, 47, 48, 51, 52, 55, 59, 60, 69, 76, 78, 80, 82, 83, 85, 97, 99, 100, 119, 120, 121, 122, 123, 129, 134, 135, 136, 143]

In [17]:
result = output.postprocessing()

In [19]:
result

matrix([[1.        , 0.18644068, 0.31446541, ..., 0.20979021, 0.19402985,
         0.1773399 ],
        [0.18644068, 1.        , 0.22564103, ..., 0.1452514 , 0.51973684,
         0.56903766],
        [0.33962264, 0.21538462, 1.        , ..., 0.23529412, 0.14977974,
         0.17283951],
        ...,
        [0.11188811, 0.16759777, 0.21568627, ..., 1.        , 0.14218009,
         0.20547945],
        [0.21641791, 0.53947368, 0.15859031, ..., 0.12322275, 1.        ,
         0.50922509],
        [0.1773399 , 0.56903766, 0.17283951, ..., 0.17808219, 0.50922509,
         1.        ]])

In [22]:
import numpy as np

In [27]:
threshold = 0.6
rows = np.where(result > threshold)

In [28]:
rows

(array([  0,   0,   0, ..., 149, 149, 149]),
 array([  0,  23,  51, ..., 139, 141, 149]))

In [20]:
similar

matrix([[1.        , 0.8159204 , 0.89010989, ..., 0.86829268, 0.62555066,
         1.        ]])

### Timings for all stages of clusterization pipeline

process - timing of all process

In [ ]:
cluster.timings

### Get all error messages in single cluster

In [ ]:
output.in_cluster(10)

In [ ]:
output.in_cluster(34)

### Output clusters - mode == 'ALL'  (for cluster '2')

In [ ]:
output.clustered_output(mode='ALL')['1']

### Output clusters - mode == 'INDEX' (for cluster '2')

In [ ]:
output.clustered_output(mode='INDEX')['1']

### Output clusters - mode == 'TARGET' (for cluster '2')

In [ ]:
output.clustered_output(mode='TARGET')['1']

### Output clusters - cluster labels

In [ ]:
cluster.cluster_labels

### Get epsilon value (which was used in DBSCAN algorithm)

In [ ]:
cluster.epsilon