# Clusterlogs Notebook

In [104]:
import pandas as pd
from clusterlogs import pipeline

### 1. Download data from file and create pandas DataFrame with index

In [105]:
df = pd.read_csv('test/test_data.csv', index_col=0).set_index('pandaid')

In [106]:
df.head(10)

,starttime,exeerrorcode,exeerrordiag
pandaid,,,
4498866929,2019-10-01T09:04:39,65,Non-zero return code from EVNTtoHITS (8); Logf...
4498851809,2019-10-01T09:13:17,11,Missing AthenaMP outputs file athenaMP-outputs...
4499004301,2019-10-01T10:18:49,15,No events to process: 16000 (skipEvents) >= 23...
4499011565,2019-10-01T10:25:17,65,Non-zero return code from AODtoDAOD (8); Logfi...
4499004297,2019-10-01T10:15:46,15,No events to process: 14000 (skipEvents) >= 23...
4499011462,2019-10-01T10:22:04,65,Non-zero return code from AODtoDAOD (8); Logfi...
4499008082,2019-10-01T10:23:28,65,Non-zero return code from AODtoDAOD (8); Logfi...
4499011446,2019-10-01T10:21:21,65,Non-zero return code from AODtoDAOD (8); Logfi...
4499011466,2019-10-01T10:23:13,65,Non-zero return code from AODtoDAOD (8); Logfi...
4499008070,2019-10-01T10:26:24,65,Non-zero return code from AODtoDAOD (8); Logfi...

### 2. Initialize clusterization pipeline

Required parameters are: 
- df - pandas DataFrame with error messages
- target - name of a column with error messages

Not required parameters are cluster_settings. If not defined - the default values are used.
Note: It's better to use for big data samples with a vocabulary of more than 1000 tokens.

CLUSTERING_DEFAULTS = {"tokenizer": "nltk",
                       "w2v_size": "auto",
                       "w2v_window": 5,
                       "min_samples": 1}

But you can define these parameters. For example,

clustering_parameters = {'tokenizer':'nltk',
                         'w2v_size': 200,
                         'w2v_window': 5,
                         'min_samples': 1}

cluster = pipeline.ml_clustering(df, target, clustering_parameters)

In [107]:
target = 'exeerrordiag'

In [108]:
cluster = pipeline.ml_clustering(df, target, mode='process', model_name='test/word2vec.model')

### 3. Execute clusterization pipeline

In [109]:
cluster.process()

/Users/maria/anaconda3/lib/python3.7/site-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [110]:
cluster.w2v_size

15

### 4. Get clusters statistics

Clusters Statistics returns DataFrame with statistic for all clusters:
- "cluster_name" - name of a cluster
- "cluster_size" - number of log messages in cluster
- "first_entry" - first log message in cluster
- "vocab" - all tokens in error messasges
- "vocab_length" - the length of cluster's vocabulary
- "mean_length" - average length of log messages in cluster
- "std_length" - standard deviation of length of log messages in cluster
- "mean_similarity" - average similarity of log messages in cluster
(calculated as the levenshtein distances between the 1st and all other log messages)
- "std_similarity" - standard deviation of similarity of log messages in cluster

In [111]:
stat = cluster.statistics()

In [112]:
stat_df = pd.DataFrame.from_dict(stat)

In [113]:
stat_df.sort_values(by='mean_similarity')

,cluster_name,cluster_size,first_entry,vocab,vocab_length,mean_length,mean_similarity,std_length,std_similarity
10,10,8,"Fatal error in athena logfile: ""G4 exception a...","{athena, G4, logfile, exception, see, line, er...",10,95.00,96.18,0.00,1.74
34,34,15,"Fatal error in athena logfile: ""Long ERROR mes...","{athena, logfile, see, line, error, Long, Fata...",11,100.00,97.47,0.00,1.15
29,29,10,No events to process: 2100 (skipEvents) >= 200...,"{EVNT, process, skipEvents, inputEvents, events}",5,68.00,98.24,0.00,0.88
2,2,7,No events to process: 16000 (skipEvents) >= 23...,"{process, skipEvents, HITS, inputEvents, events}",5,68.71,98.34,0.45,0.93
30,30,48,Missing AthenaMP outputs file athenaMP-outputs...,"{Missing, file, athena, athenaMP-outputs-HITto...",8,85.00,100.00,0.00,0.00
43,43,1,"Fatal error in athena logfile: ""Logfile error ...","{data, Logfile, athena, logfile, retrieve, COO...",16,190.00,100.00,0.00,0.00
39,39,1,Non-zero return code from AODtoDAOD (8); Logfi...,"{Logfile, 'nentries, code, log.AODtoDAOD, erro...",9,95.00,100.00,0.00,0.00
0,0,1,Non-zero return code from EVNTtoHITS (8); Logf...,"{Logfile, ValueError, EVNTtoHITS, expected, lo...",15,206.00,100.00,0.00,0.00
26,26,1,Input file argument testRTT.RDO.pool.root glob...,"{Input, files, file, globbed, argument, testRT...",9,102.00,100.00,0.00,0.00
25,25,1,Non-zero return code from RDOtoRDOTrigger (33)...,"{Logfile, Signature, sequence, matching, code,...",17,227.00,100.00,0.00,0.00
24,24,1,Non-zero return code from AODtoDAOD (8); Logfi...,"{identify, Logfile, exception, Unable, specifi...",11,112.00,100.00,0.00,0.00
23,23,1,Non-zero return code from AODtoDAOD (65); Long...,"{see, code, line, Long, Non-zero, FATAL, jobRe...",11,109.00,100.00,0.00,0.00
21,21,1,Non-zero return code from RAWtoALL (65); Logfi...,"{Logfile, code, m_trackCollKey, evtStore, FILE...",19,251.00,100.00,0.00,0.00
17,17,1,"Fatal error in athena logfile: ""Logfile error ...","{Logfile, athena, logfile, caught, exception, ...",13,174.00,100.00,0.00,0.00
19,19,1,AODtoDAOD got a SIGKILL signal (exit code 137),"{exit, code, AODtoDAOD, SIGKILL, signal, got}",6,46.00,100.00,0.00,0.00
42,42,1,Error reading user generated output file list,"{generated, file, Error, list, reading, output...",7,45.00,100.00,0.00,0.00
16,16,1,Non-zero return code from RAWtoALL (65); Long ...,"{see, RAWtoALL, code, line, Long, Non-zero, ER...",11,109.00,100.00,0.00,0.00
15,15,1,File data18_13TeV.00363033.physics_Main.merge....,"{File, test, data18_13TeV.00363033.physics_Mai...",5,105.00,100.00,0.00,0.00
14,14,1,Non-zero return code from RAWtoESD (8); Logfil...,"{Logfile, RAWtoESD, code, error, Non-zero, log...",7,73.00,100.00,0.00,0.00
12,12,1,Non-zero return code from EVNTtoHITS (65); G4 ...,"{G4, EVNTtoHITS, exception, see, code, line, N...",10,105.00,100.00,0.00,0.00
11,11,1,Non-zero return code from ESDtoDPD (65); Logfi...,"{Logfile, abnormally, finished, waiting, log.E...",14,185.00,100.00,0.00,0.00
8,8,1,Non-zero return code from POOLMergeAthenaMPDES...,"{Logfile, number, POOLMergeAthenaMPDESDMCALJET...",12,171.00,100.00,0.00,0.00
20,20,1,Non-zero return code from RAWtoESD (65); Logfi...,"{event, Logfile, fail, RAWtoESD, Failed, detec...",17,190.00,100.00,0.00,0.00
40,40,1,"Fatal error in athena logfile: ""Logfile error ...","{data, Logfile, athena, logfile, retrieve, COO...",17,211.00,100.00,0.00,0.00
33,33,1,No events to process: 2000 (skipEvents) >= 200...,"{EVNT, process, skipEvents, inputEvents, events}",5,68.00,100.00,0.00,0.00
5,5,1,Non-zero return code from AODtoDAOD (64); Logf...,"{Logfile, caught, JETM7Kernel_Skim, code, log....",13,168.00,100.00,0.00,0.00
7,7,35,Non-zero return code from AODtoDAOD (65); Logf...,"{Logfile, abnormally, finished, waiting, code,...",14,187.00,100.00,0.00,0.00
3,3,24,Non-zero return code from AODtoDAOD (8); Logfi...,"{Logfile, 'module, attribute, code, log.AODtoD...",12,150.00,100.00,0.00,0.00
31,31,22,LRMS error: (271) Job was cancelled,"{error, Job, cancelled, LRMS}",4,35.00,100.00,0.00,0.00
35,35,17,Non-zero return code from HITtoRDO (65); Logfi...,"{Logfile, abnormally, finished, waiting, log.H...",14,153.00,100.00,0.00,0.00
4,4,6,Non-zero return code from AODtoDAOD (8); Logfi...,"{slimming, Logfile, Smart, exist, list, code, ...",15,190.00,100.00,0.00,0.00
9,9,4,"Fatal error in athena logfile: ""Logfile error ...","{Logfile, athena, logfile, caught, exception, ...",13,174.00,100.00,0.00,0.00
13,13,4,Input file argument(s) ['RDO.pool.root'] globb...,"{'RDO.pool.root, Input, files, file, globbed, ...",9,101.00,100.00,0.00,0.00
36,36,4,Missing AthenaMP outputs file athenaMP-outputs...,"{Missing, file, athena, athenaMP-outputs-RDOto...",8,92.00,100.00,0.00,0.00
6,6,4,Non-zero return code from AODtoDAOD (65); Logf...,"{makePool, Logfile, failed, code, log.AODtoDAO...",12,192.00,100.00,0.00,0.00
41,41,3,Non-zero return code from RAWtoESD (65); Logfi...,"{Logfile, abnormally, RAWtoESD, finished, wait...",14,185.00,100.00,0.00,0.00
22,22,3,EVNTtoHITS got a SIGKILL signal (exit code 137),"{EVNTtoHITS, exit, code, SIGKILL, signal, got}",6,47.00,100.00,0.00,0.00
1,1,2,Missing AthenaMP outputs file athenaMP-outputs...,"{Missing, file, athena, crashed, outputs, Athe...",8,87.00,100.00,0.00,0.00
18,18,2,"Fatal error in athena logfile: ""Logfile error ...","{Logfile, athena, logfile, SimGeoID=0, log.EVN...",15,151.00,100.00,0.00,0.00
27,27,2,Non-zero return code from EVNTtoHITS (255),"{EVNTtoHITS, Non-zero, code, return}",4,42.00,100.00,0.00,0.00
37,37,2,LRMS error: (271) Job timeout,"{error, Job, LRMS, timeout}",4,29.00,100.00,0.00,0.00
38,38,2,Non-zero return code from RDOtoRDOTrigger (65)...,"{Logfile, abnormally, finished, waiting, code,...",14,199.00,100.00,0.00,0.00
28,28,2,Non-zero return code from EVNTtoHITS (33); Log...,"{opened, connection, Logfile, EVNTtoHITS, data...",15,180.00,100.00,0.00,0.00
32,32,1,No events to process: 2500 (skipEvents) >= 200...,"{EVNT, process, skipEvents, inputEvents, events}",5,68.00,100.00,0.00,0.00
44,44,1,Non-zero return code from EVNTtoHITS (65); Log...,"{Logfile, abnormally, finished, EVNTtoHITS, wa...",14,157.00,100.00,0.00,0.00

### Timings for all stages of clusterization pipeline

process - timing of all process

In [114]:
cluster.timings

{'data_preparation': 0.0033,
 'tokenization': 0.0251,
 'tokens_vectorization': 0.156,
 'sentence_vectorization': 0.0346,
 'kneighbors': 0.0133,
 'epsilon_search': 0.0005,
 'dbscan': 0.1106,
 'process': 0.3434}

### Get all error messages in single cluster

In [115]:
cluster.in_cluster(10)

['Fatal error in athena logfile: "G4 exception at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "G4 exception at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "G4 exception at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "G4 exception at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "G4 exception at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "G4 exception at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "G4 exception at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "G4 exception at line LINE_NUMBER (see jobReport for further details)"']

In [116]:
cluster.in_cluster(34)

['Fatal error in athena logfile: "Long ERROR message at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "Long ERROR message at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "Long ERROR message at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "Long ERROR message at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "Long ERROR message at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "Long ERROR message at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "Long ERROR message at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "Long ERROR message at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "Long ERROR message at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "Long ERROR message at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "Long ERROR message at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "Long ERROR message at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "Long ERROR message at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "Long ERROR message at line LINE_NUMBER (see jobReport for further details)"',
 'Fatal error in athena logfile: "Long ERROR message at line LINE_NUMBER (see jobReport for further details)"']

### Output clusters - mode == 'ALL'  (for cluster '2')

In [117]:
cluster.clustered_output(mode='ALL')['1']

[{'starttime': '2019-10-01T09:13:17',
  'exeerrorcode': 11,
  'exeerrordiag': 'Missing AthenaMP outputs file athenaMP-outputs-EVNTtoHITS-sim (probably athena crashed)',
  'cluster': 1},
 {'starttime': '2019-10-01T10:26:22',
  'exeerrorcode': 11,
  'exeerrordiag': 'Missing AthenaMP outputs file athenaMP-outputs-EVNTtoHITS-sim (probably athena crashed)',
  'cluster': 1}]

### Output clusters - mode == 'INDEX' (for cluster '2')

In [118]:
cluster.clustered_output(mode='INDEX')['1']

[4498851809, 4499017793]

### Output clusters - mode == 'TARGET' (for cluster '2')

In [119]:
cluster.clustered_output(mode='TARGET')['1']

['Missing AthenaMP outputs file athenaMP-outputs-EVNTtoHITS-sim (probably athena crashed)',
 'Missing AthenaMP outputs file athenaMP-outputs-EVNTtoHITS-sim (probably athena crashed)']

### Output clusters - cluster labels

In [120]:
cluster.cluster_labels

array([ 0,  1,  2,  3,  2,  4,  3,  3,  3,  3,  3,  5,  6,  7,  8,  9,  7,
       10,  7,  7, 11, 12, 13, 13, 13,  2,  3,  4,  2,  3, 14,  3,  1,  7,
        7,  7, 15,  7,  7,  7, 16, 17,  7, 18, 19, 10,  3,  3,  4,  2,  3,
        3,  4,  3, 20,  9,  7,  7,  7,  7, 10,  7,  9,  7, 21, 22,  4,  3,
        3,  3,  4,  3,  2, 23, 24,  7,  7,  7,  9, 25,  7, 26, 18, 22, 13,
       27, 27, 28,  2,  3,  3,  3,  3,  3,  3,  7,  7,  6, 10,  7,  7,  7,
        7,  7, 29, 29, 29, 30, 30, 30, 30, 30, 30, 30, 30, 30, 31, 31, 29,
       32, 29, 30, 30, 30, 30, 30, 31, 31, 31, 31, 31, 31, 31, 31, 29, 29,
       30, 30, 30, 30, 30, 30, 30, 30, 31, 31, 31, 33, 29, 30, 30, 30, 30,
       30, 30, 31, 31, 31, 31, 31, 31, 29, 29, 30, 30, 30, 30, 30, 30, 30,
       31, 31, 31,  7,  6, 34, 34,  7, 35, 35, 35, 36, 10, 37, 35,  7, 30,
        7, 34,  7, 34, 34, 35,  7, 30, 30, 35, 35, 38, 39, 35, 30, 30, 10,
       10, 37, 34, 34, 34, 30, 35, 40, 35, 35, 36, 41, 41, 22, 34, 34, 34,
       34, 10, 34, 42, 35, 36, 35, 35, 41, 30, 30, 30, 38, 28, 30,  6, 34,
       43, 34,  7, 44, 30, 36, 35, 30, 35, 35, 30])

### Get epsilon value (which was used in DBSCAN algorithm)

In [121]:
cluster.epsilon

0.05653438724138101