# Clusterlogs Notebook

In [1]:
import pandas as pd
from clusterlogs import pipeline

In [2]:
df = pd.read_csv('taskbuffererrordiag.csv', index_col=0, header=None)

In [3]:
df.shape

(75500, 1)

In [4]:
df[1].values

array(['The worker was cancelled while the job was running : Condor HoldReason: None ; Condor RemoveReason: removed by SYSTEM_PERIODIC_REMOVE due to job restarted undesirably.  ',
       'The worker was failed while the job was starting : Job submission to LRMS failed',
       'The worker was failed while the job was starting : Payload execution error: returned non-zero',
       ...,
       'The worker was cancelled while the job was running : Condor HoldReason: CREAM error: reason=0  ; Worker canceled by harvester due to held too long or not found',
       'The worker was cancelled while the job was running : Condor HoldReason: CREAM error: reason=0  ; Worker canceled by harvester due to held too long or not found',
       'The worker was cancelled while the job was running : Condor HoldReason: CREAM error: reason=0  ; Worker canceled by harvester due to held too long or not found'],
      dtype=object)

In [5]:
target = 1

In [6]:
cluster = pipeline.ml_clustering(df, target, mode='process', model_name='panda_errors.model').process()

Data Preparation finished
Found 159 equal groups
Tokenization finished
Vectorization of tokens finished

/Users/maria/anaconda3/lib/python3.7/site-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

Vectorization of sentences is finished
DBSCAN finished with 14 clusters

In [7]:
cluster.result.sort_values(by=['cluster_size'],ascending=False)

,pattern,sequence,indices,cluster_size
0,The worker was{*} while the job was{*} : {*},"[The, ▁worker, ▁was, {, *, }, ▁while, ▁the, ▁j...","[4614542136, 4614296079, 4614908337, 461490593...",53333
10,merge job failed,"[merge, ▁job, ▁failed]","[4615228268, 4615228278, 4615228257, 461522828...",13477
12,transfer timeout for {*},"[transfer, ▁timeout, ▁for, ▁{, *, }]","[4612795587, 4612775908, 4612697625, 461264737...",2786
5,didn't process any events on WN and give up si...,"[didn, ', t, ▁process, ▁any, ▁events, ▁on, ▁WN...","[4615080159, 4615080109, 4615080143, 461508013...",2075
2,The worker was{*} while the job was{*} : {*}{*...,"[The, ▁worker, ▁was, {, *, }, ▁while, ▁the, ▁j...","[4613252756, 4613252752, 4613101748, 461305413...",1352
8,killed by{*} by{*},"[killed, ▁by, {, *, }, ▁by, {, *, }]","[4611606824, 4611606825, 4611606828, 461160682...",1277
3,The worker was cancelled while the job was sta...,"[The, ▁worker, ▁was, ▁cancelled, ▁while, ▁the,...","[4613053679, 4613053688, 4613053686, 461305368...",734
1,The worker was cancelled while the job was run...,"[The, ▁worker, ▁was, ▁cancelled, ▁while, ▁the,...","[4610349026, 4612523105, 4612299166, 461034903...",204
6,didn't process any events on WN or reached las...,"[didn, ', t, ▁process, ▁any, ▁events, ▁on, ▁WN...","[4614751567, 4614751562, 4614751565, 461475156...",154
13,transfer timeout for {*} {*},"[transfer, ▁timeout, ▁for, ▁{, *, }, ▁{, *, }]","[4611492049, 4611451540, 4611451432, 461145133...",53
7,killed by /DC= {*}/DC= {*}/OU= {*} Units/OU= {...,"[killed, ▁by, ▁/, DC, =, ▁{, *, }, /, DC, =, ▁...","[4607017038, 4607017019, 4607017006, 460701701...",26
4,The worker was failed while the job was starti...,"[The, ▁worker, ▁was, ▁failed, ▁while, ▁the, ▁j...","[4613025284, 4613025278, 4613025283, 461302528...",14
9,killed by killed since pre-merge job {*} gone,"[killed, ▁by, ▁killed, ▁since, ▁pre-merge, ▁jo...","[4608065932, 4608065937, 4608047803, 460800858...",12
11,set failed since no successfull events,"[set, ▁failed, ▁since, ▁no, ▁successfull, ▁eve...","[4614086534, 4611739754, 4611696895]",3

In [8]:
stat = cluster.validation(cluster.result)

In [9]:
stat

,cluster_name,cluster_size,pattern,mean_similarity,std_similarity
0,0,53333,The worker was{*} while the job was{*} : {*},0.50,0.19
10,10,13477,merge job failed,1.00,0.00
12,12,2786,transfer timeout for {*},0.75,0.08
5,5,2075,didn't process any events on WN and give up si...,1.00,0.00
2,2,1352,The worker was{*} while the job was{*} : {*}{*...,0.90,0.23
8,8,1277,killed by{*} by{*},0.44,0.07
3,3,734,The worker was cancelled while the job was sta...,1.00,0.00
1,1,204,The worker was cancelled while the job was run...,0.52,0.07
6,6,154,didn't process any events on WN or reached las...,1.00,0.00
13,13,53,transfer timeout for {*} {*},0.86,0.09
7,7,26,killed by /DC= {*}/DC= {*}/OU= {*} Units/OU= {...,0.78,0.17
4,4,14,The worker was failed while the job was starti...,1.00,0.00
9,9,12,killed by killed since pre-merge job {*} gone,0.90,0.04
11,11,3,set failed since no successfull events,1.00,0.00

In [10]:
cluster.df.head()

,1,cleaned
0,,
4615345009,The worker was cancelled while the job was run...,The worker was cancelled while the job was run...
4615344962,The worker was failed while the job was starti...,The worker was failed while the job was starti...
4615344837,The worker was failed while the job was starti...,The worker was failed while the job was starti...
4615343705,The worker was failed while the job was starti...,The worker was failed while the job was starti...
4615343308,The worker was failed while the job was starti...,The worker was failed while the job was starti...

In [10]:
cluster.in_cluster(cluster.result, 0)

array(['The worker was cancelled while the job was running : None',
       'The worker was cancelled while the job was running : None',
       'The worker was cancelled while the job was running : Condor HoldReason: None ; Condor RemoveReason: Python-initiated action. (by user atlpan) ',
       ..., 'The worker was finished while the job was starting : None',
       'The worker was finished while the job was starting : None',
       'The worker was finished while the job was starting : None'],
      dtype=object)