# Clusterlogs Notebook

In [1]:
import pandas as pd
from clusterlogs import pipeline

In [2]:
df = pd.read_csv('taskbuffererrordiag.csv', index_col=0, header=None)

In [3]:
df[1].values

array(['The worker was cancelled while the job was running : Condor HoldReason: None ; Condor RemoveReason: removed by SYSTEM_PERIODIC_REMOVE due to job restarted undesirably.  ',
       'The worker was failed while the job was starting : Job submission to LRMS failed',
       'The worker was failed while the job was starting : Payload execution error: returned non-zero',
       ...,
       'The worker was cancelled while the job was running : Condor HoldReason: CREAM error: reason=0  ; Worker canceled by harvester due to held too long or not found',
       'The worker was cancelled while the job was running : Condor HoldReason: CREAM error: reason=0  ; Worker canceled by harvester due to held too long or not found',
       'The worker was cancelled while the job was running : Condor HoldReason: CREAM error: reason=0  ; Worker canceled by harvester due to held too long or not found'],
      dtype=object)

In [4]:
target = 1

In [13]:
cluster = pipeline.ml_clustering(df, target, mode='process', model_name='panda_errors.model').process()

Data Preparation finished
group_equals finished
Tokenization finished
Vectorization of tokens finished
Vectorization of sentences is finished

/Users/maria/anaconda3/lib/python3.7/site-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

DBSCAN finished with 10 clusters

In [14]:
cluster.result

,pattern,sequence,indices,cluster_size
0,The worker was{*} while the job was{*} :{*}:{*...,"[The, ▁worker, ▁was, {, *, }, ▁while, ▁the, ▁j...","[4613660683, 4613660681, 4613660682, 461366068...",54081
1,The worker was cancelled while the job was run...,"[The, ▁worker, ▁was, ▁cancelled, ▁while, ▁the,...","[4613972277, 4612219910, 4612202968, 461220296...",204
2,The worker was{*} while the job was{*} :{*}: T...,"[The, ▁worker, ▁was, {, *, }, ▁while, ▁the, ▁j...","[4613252756, 4613252752, 4613101748, 461305413...",1352
3,didn't process any events on WN and{*} last{*},"[didn, ', t, ▁process, ▁any, ▁events, ▁on, ▁WN...","[4615080159, 4615080109, 4615080143, 461508013...",2229
4,killed by /DC=ch/DC=cern/OU=Organic Units/OU=U...,"[killed, ▁by, ▁/, DC, =, ch, /, DC, =, cern, /...","[4607017038, 4607017019, 4607017006, 460701701...",26
5,killed by{*} by{*},"[killed, ▁by, {, *, }, ▁by, {, *, }]","[4611606824, 4611606825, 4611606828, 461160682...",1277
6,killed by killed since pre-merge job * gone,"[killed, ▁by, ▁killed, ▁since, ▁pre-merge, ▁jo...","[4608065932, 4608065937, 4608047803, 460800858...",12
7,merge job failed,"[merge, ▁job, ▁failed]","[4615228268, 4615228278, 4615228257, 461522828...",13477
8,set failed since no successfull events,"[set, ▁failed, ▁since, ▁no, ▁successfull, ▁eve...","[4614086534, 4611739754, 4611696895]",3
9,transfer timeout for *,"[transfer, ▁timeout, ▁for, ▁*]","[4612795587, 4612775908, 4612697625, 461264737...",2839

In [15]:
stat = cluster.validation(cluster.result)

In [16]:
stat

,cluster_name,cluster_size,pattern,mean_similarity,std_similarity
0,0,54081,The worker was{*} while the job was{*} :{*}:{*...,0.26,0.08
7,7,13477,merge job failed,1.00,0.00
9,9,2839,transfer timeout for *,0.75,0.08
3,3,2229,didn't process any events on WN and{*} last{*},0.97,0.13
2,2,1352,The worker was{*} while the job was{*} :{*}: T...,0.90,0.23
5,5,1277,killed by{*} by{*},0.44,0.07
1,1,204,The worker was cancelled while the job was run...,0.74,0.08
4,4,26,killed by /DC=ch/DC=cern/OU=Organic Units/OU=U...,0.78,0.17
6,6,12,killed by killed since pre-merge job * gone,0.90,0.04
8,8,3,set failed since no successfull events,1.00,0.00

In [9]:
cluster.df.head()

,1,cleaned
0,,
4615345009,The worker was cancelled while the job was run...,The worker was cancelled while the job was run...
4615344962,The worker was failed while the job was starti...,The worker was failed while the job was starti...
4615344837,The worker was failed while the job was starti...,The worker was failed while the job was starti...
4615343705,The worker was failed while the job was starti...,The worker was failed while the job was starti...
4615343308,The worker was failed while the job was starti...,The worker was failed while the job was starti...

In [24]:
cluster.in_cluster(cluster.result, 9)

array(['transfer timeout for  DAOD_FTAG4.20305832._000017.pool.root.1',
       'transfer timeout for  DAOD_FTAG2.20304666._000004.pool.root.1',
       'transfer timeout for  HITS.20087075._008541.pool.root.1', ...,
       'transfer timeout for  DAOD_JETM1.20293456._001304.pool.root.1 DAOD_JETM3.20293456._001304.pool.root.1 DAOD_JETM4.20293456._001304.pool.root.1',
       'transfer timeout for  DAOD_JETM4.20293456._000455.pool.root.1 DAOD_JETM1.20293456._000455.pool.root.1 DAOD_JETM3.20293456._000455.pool.root.1',
       'transfer timeout for  DAOD_JETM4.20293569._000178.pool.root.1 DAOD_JETM1.20293569._000178.pool.root.1 DAOD_JETM3.20293569._000178.pool.root.1'],
      dtype=object)