In [1]:
from clusterlogs import multistage

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('samples/jobs-january10-100.csv')

/Users/maria/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (115) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df['starttime'].describe

<bound method NDFrame.describe of 0        2020-01-10T08:57:35
1        2020-01-10T13:01:31
2        2020-01-10T13:01:32
3        2020-01-10T13:01:32
4        2020-01-10T13:01:32
                ...
95158    2020-01-10T17:08:25
95159    2020-01-10T17:14:31
95160    2020-01-10T17:12:23
95161    2020-01-10T08:39:51
95162    2020-01-10T08:58:47
Name: starttime, Length: 95163, dtype: object>

In [5]:
df.set_index('pandaid', inplace=True)

In [6]:
errors = df[['ddmerrordiag','brokerageerrordiag','exeerrordiag',
             'piloterrordiag','superrordiag','taskbuffererrordiag']].dropna(axis=0, how='all')

In [7]:
ddm = errors[['ddmerrordiag']].dropna(axis=0)

In [8]:
broker = errors['brokerageerrordiag'].dropna(axis=0)

In [9]:
exe = errors['exeerrordiag'].dropna()

In [10]:
pilot = errors[['piloterrordiag']].dropna(axis=0)

In [11]:
sup = errors[['superrordiag']].dropna(axis=0)

In [12]:
taskbuf = errors[['taskbuffererrordiag']].dropna(axis=0)

In [13]:
ddm.to_csv('ddm.csv')

In [14]:
pilot

                                               piloterrordiag
pandaid
4599901443  Killed by Harvester due to worker queuing too ...
4599901454  Killed by Harvester due to worker queuing too ...
4599901466  Killed by Harvester due to worker queuing too ...
4599929289  Killed by Harvester due to worker queuing too ...
4599929301  Killed by Harvester due to worker queuing too ...
...                                                       ...
4602792972  Service not available at the moment: group.per...
4602571031  File transfer timed out during stage-out: user...
4602676390  Service not available at the moment: user.mvan...
4602759658  Service not available at the moment: user.mvan...
4602887980                       Local output file is missing

[24636 rows x 1 columns]

In [15]:
sup

                                                 superrordiag
pandaid
4599599744  Diag from worker : Error reading user generate...
4601313649  Diag from worker : Condor HoldReason: The syst...
4601315202  Diag from worker : Condor HoldReason: The syst...
4600883141  Diag from worker : cannot get JobStatus of job...
4601314262  Diag from worker : cannot get JobStatus of job...
...                                                       ...
4602695955  Diag from worker : Condor HoldReason: Job not ...
4602824916  Diag from worker : Condor HoldReason: None ; C...
4603435209  Diag from worker : Condor HoldReason: CREAM er...
4602793004  Diag from worker : Condor HoldReason: None ; C...
4602985117  Diag from worker : Condor HoldReason: None ; C...

[30819 rows x 1 columns]

In [16]:
taskbuf

                                          taskbuffererrordiag
pandaid
4598425005                     killed by kill by Matous Vozak
4600015972                                 reassigned by JEDI
4600015976                                 reassigned by JEDI
4600016038                                 reassigned by JEDI
4600016040                                 reassigned by JEDI
...                                                       ...
4602824186  The worker was cancelled while the job was run...
4602917881  The worker was cancelled while the job was run...
4602824916  The worker was cancelled while the job was run...
4602793004  The worker was cancelled while the job was run...
4602985117  The worker was cancelled while the job was run...

[36302 rows x 1 columns]

In [13]:
ddm_errors = multistage.exec(ddm, 'ddmerrordiag', 'ddm.model', 500)

/Users/maria/anaconda3/lib/python3.7/site-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [14]:
ddm_errors.clusters

,cluster_name,cluster_size,pattern,sequence,mean_similarity,std_similarity,indices
0,0,5266,expected output * is missing in pilot XML,"[expected, output, *, is, missing, in, pilot, ...",1.00,0.00,"[4599901443, 4599901454, 4599901466, 459992928..."
1,1,13,Could not,"[Could, not]",0.46,0.27,"[4601795449, 4602489068, 4602290970, 460261747..."

In [19]:
ddm_errors.results.to_csv('ddm_errors.csv')

In [18]:
pilot_errors = multistage.exec(pilot, 'piloterrordiag', 'pilot.model', 100)

/Users/maria/anaconda3/lib/python3.7/site-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL
/Users/maria/anaconda3/lib/python3.7/site-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [19]:
pilot_errors.clusters

,cluster_name,cluster_size,pattern,sequence,mean_similarity,std_similarity,indices
0,16,2862,"Failed to stage-in file: u' * from *, None of ...","[Failed, to, stage-in, file:, u', *, from, *,,...",1.00,0.00,"[4601037149, 4601143457, 4600991382, 460231741..."
1,11,1778,Local output file is missing,"[Local, output, file, is, missing]",1.00,0.00,"[4601309706, 4602503545, 4602388730, 460248509..."
2,36,1735,Payload exceeded maximum allowed memory,"[Payload, exceeded, maximum, allowed, memory]",1.00,0.00,"[4601803744, 4601803756, 4601803795, 460243713..."
3,20,1379,Failed to stage-in file: u' * from DESY-HH_DAT...,"[Failed, to, stage-in, file:, u', *, from, DES...",1.00,0.00,"[4602220759, 4602279201, 4602279209, 460222076..."
4,1,1270,File transfer timed out during stage-out: * to...,"[File, transfer, timed, out, during, stage-out...",1.00,0.00,"[4599581952, 4600747500, 4601243089, 460067007..."
5,12,1168,Job killed by signal: SIGTERM,"[Job, killed, by, signal:, SIGTERM]",1.00,0.00,"[4601177276, 4602046060, 4602196130, 460241412..."
6,25,831,No matching replicas were found in list_replic...,"[No, matching, replicas, were, found, in, list...",1.00,0.00,"[4602246214, 4602505822, 4602505829, 460250582..."
7,280,797,Failed to stage-in file: u' * from INFN-NAPOLI...,"[Failed, to, stage-in, file:, u', *, from, INF...",1.00,0.00,"[4603712153, 4603712159, 4603712161, 460371217..."
8,42,544,"Service not available at the moment: * to *, F...","[Service, not, available, at, the, moment:, *,...",1.00,0.00,"[4602341473, 4602108265, 4602504420, 460249085..."
9,4,538,Failed to stage-in file: u' * from CERN-PROD_D...,"[Failed, to, stage-in, file:, u', *, from, CER...",1.00,0.00,"[4600712420, 4602534436, 4602534439, 460253441..."
10,14,447,"Failed to stage-out file: * to *, no error inf...","[Failed, to, stage-out, file:, *, to, *,, no, ...",1.00,0.00,"[4601350881, 4602417124, 4601363844, 460205070..."
11,9,380,Looping job killed by pilot,"[Looping, job, killed, by, pilot]",1.00,0.00,"[4601309710, 4602374847, 4602508293, 460203194..."
12,68,352,This job was killed by panda server,"[This, job, was, killed, by, panda, server]",1.00,0.00,"[4601988333, 4602474354, 4602410162, 460278385..."
13,176,302,Unrecognized fatal error in transform stderr:o...,"[Unrecognized, fatal, error, in, transform, st...",1.00,0.00,"[4602700096, 4602669891, 4602661193, 460266231..."
14,57,283,"Failed to stage-in file: u"" * from *, download...","[Failed, to, stage-in, file:, u"", *, from, *,,...",1.00,0.00,"[4602112967, 4602189599, 4602723720, 460274951..."
15,184,241,User code not available on PanDA server (resub...,"[User, code, not, available, on, PanDA, server...",1.00,0.00,"[4602627804, 4602627764, 4602630439, 460262919..."
16,32,233,File transfer timed out during stage-out: * to...,"[File, transfer, timed, out, during, stage-out...",1.00,0.00,"[4602044149, 4602394283, 4602537006, 460253644..."
17,5,215,"Failed to stage-out file: * to *, None of the ...","[Failed, to, stage-out, file:, *, to, *,, None...",1.00,0.00,"[4601250253, 4602151314, 4602448877, 460213695..."
18,102,214,Payload metadata does not exist,"[Payload, metadata, does, not, exist]",1.00,0.00,"[4602468067, 4601482347, 4602513390, 460218275..."
19,185,214,"Failed to stage-in file: error code: *, messag...","[Failed, to, stage-in, file:, error, code:, *,...",1.00,0.00,"[4602652204, 4602600863, 4602590988, 460257045..."
20,166,207,Failed to stage-out file: * to GOEGRID_SCRATCH...,"[Failed, to, stage-out, file:, *, to, GOEGRID_...",1.00,0.00,"[4602503838, 4602531110, 4602023148, 460202312..."
21,73,196,Failed to stage-in file: file does not exist: ...,"[Failed, to, stage-in, file:, file, does, not,...",1.00,0.00,"[4602528752, 4602475662, 4602510503, 460222882..."
22,50,193,File transfer timed out during stage-out: * to...,"[File, transfer, timed, out, during, stage-out...",1.00,0.00,"[4602502993, 4602468531, 4602509783, 460250977..."
23,35,192,Payload ran out of memory,"[Payload, ran, out, of, memory]",1.00,0.00,"[4602435951, 4602435962, 4601596566, 460232883..."
24,92,172,File transfer timed out during stage-in: u' * ...,"[File, transfer, timed, out, during, stage-in:...",1.00,0.00,"[4602530908, 4601458359, 4602534838, 460265556..."
25,62,167,* mismatch on input file: checksum verificatio...,"[*, mismatch, on, input, file:, checksum, veri...",1.00,0.00,"[4602493695, 4602493696, 4602493697, 460253768..."
26,104,162,Failed to stage-out file: * to INFN-COSENZA_SC...,"[Failed, to, stage-out, file:, *, to, INFN-COS...",1.00,0.00,"[4602505790, 4602505776, 4603014886, 460297569..."
27,72,154,SIGSEGV: Invalid memory reference or a segment...,"[SIGSEGV:, Invalid, memory, reference, or, a, ...",1.00,0.00,"[4602500836, 4601969602, 4602712439, 460271207..."
28,2,150,"Failed to stage-out file: * to *, Checksum not...","[Failed, to, stage-out, file:, *, to, *,, Chec...",1.00,0.00,"[4599764239, 4602441092, 4602218982, 460244710..."
29,60,141,File transfer timed out during stage-out: * to...,"[File, transfer, timed, out, during, stage-out...",1.00,0.00,"[4602165037, 4602176424, 4602598127, 460271469..."
30,177,134,Job failed due to unknown reason (consult log ...,"[Job, failed, due, to, unknown, reason, (consu...",1.00,0.00,"[4602700038, 4602700056, 4602583023, 460288679..."
31,27,126,No matching replicas were found in list_replic...,"[No, matching, replicas, were, found, in, list...",1.00,0.00,"[4602054651, 4602170540, 4602170558, 460217048..."
32,179,118,No release candidates found,"[No, release, candidates, found]",1.00,0.00,"[4602718542, 4602674575, 4602637533, 460257938..."
33,41,117,Failed to get replicas from Rucio: HTTPSConnec...,"[Failed, to, get, replicas, from, Rucio:, HTTP...",1.00,0.00,"[4601980679, 4602509189, 4602221828, 460298071..."
34,188,116,"Failed to stage-out file: * to *, upload() got...","[Failed, to, stage-out, file:, *, to, *,, uplo...",1.00,0.00,"[4602674576, 4602646874, 4602905494, 460302613..."
35,107,112,Failed to stage-out file: * to INFN-MILANO-ATL...,"[Failed, to, stage-out, file:, *, to, INFN-MIL...",1.00,0.00,"[4602336813, 4602283846, 4602215433, 460244069..."
36,79,111,File transfer timed out during stage-in: u' * ...,"[File, transfer, timed, out, during, stage-in:...",1.00,0.00,"[4602537017, 4602537019, 4602537020, 460261963..."
37,344,106,No matching replicas were found in list_replic...,"[No, matching, replicas, were, found, in, list...",1.00,0.00,"[4602692844, 4602692848, 4603487748, 460348775..."
38,5,1497,File transfer timed out during * copy command ...,"[File, transfer, timed, out, during, *, copy, ...",0.92,0.05,"[4601850305, 4602426877, 4602810000, 460369585..."
39,2,474,Failed to stage-out file: * to no error inform...,"[Failed, to, stage-out, file:, *, to, no, erro...",0.96,0.04,"[4602519700, 4602740593, 4602719171, 460273176..."
40,1,306,Service not available at the moment: * to srm-...,"[Service, not, available, at, the, moment:, *,...",0.91,0.06,"[4602947351, 4602947347, 4602947362, 460295308..."
41,13,287,Failed to stage-out file: * to INFN-MILANO-ATL...,"[Failed, to, stage-out, file:, *, to, INFN-MIL...",0.86,0.12,"[4603024326, 4603022444, 4603013948, 460350982..."
42,9,282,Failed to stage-in file: u' * from None of the...,"[Failed, to, stage-in, file:, u', *, from, Non...",0.98,0.01,"[4601850311, 4602750000, 4602883147, 460336435..."
43,11,197,"Failed to stage-in file: error code: *, messag...","[Failed, to, stage-in, file:, error, code:, *,...",0.96,0.03,"[4602391346, 4602658736, 4602664230, 460353659..."
44,16,182,Failed to stage-out file: * to None of the giv...,"[Failed, to, stage-out, file:, *, to, None, of...",0.98,0.01,"[4602311942, 4602311962, 4602896062, 460341025..."
45,15,146,Globus system error during stage-out: Globus s...,"[Globus, system, error, during, stage-out:, Gl...",0.94,0.06,"[4602382259, 4602019266, 4602382221, 460247987..."
46,4,140,Failed to stage-out file: * to Checksum not va...,"[Failed, to, stage-out, file:, *, to, Checksum...",0.99,0.02,"[4602384357, 4602384366, 4602468820, 460244871..."

In [20]:
pilot_errors.outliers

,cluster_name,cluster_size,pattern,sequence,mean_similarity,std_similarity,indices
47,3,94,Failed to stage-out file: * to INFN-COSENZA_SC...,"[Failed, to, stage-out, file:, *, to, INFN-COS...",1.0,0.02,"[4602525160, 4602525162, 4602525167, 460251797..."
48,0,92,Killed by Harvester due to worker queuing too ...,"[Killed, by, Harvester, due, to, worker, queui...",1.0,0.00,"[4599901443, 4599901454, 4599901466, 459992928..."
49,6,76,Unrecognized fatal error in transform stderr:w...,"[Unrecognized, fatal, error, in, transform, st...",1.0,0.00,"[4602704951, 4602646823, 4602593380, 460255084..."
50,8,75,Unrecognized fatal error in transform stderr:'...,"[Unrecognized, fatal, error, in, transform, st...",1.0,0.00,"[4602433104, 4602433461, 4602433207, 460243308..."
51,7,75,Unknown error code: *,"[Unknown, error, code:, *]",1.0,0.00,"[4602359003, 4602356421, 4603225909, 460329565..."
...,...,...,...,...,...,...,...
248,175,1,Local output file is missing: Error: output pf...,"[Local, output, file, is, missing:, Error:, ou...",1.0,0.00,[4603729571]
249,177,1,Local output file is missing: Error: output pf...,"[Local, output, file, is, missing:, Error:, ou...",1.0,0.00,[4603745216]
250,178,1,Failed to stage-out file: * to AUSTRALIA-ATLAS...,"[Failed, to, stage-out, file:, *, to, AUSTRALI...",1.0,0.00,[4603123037]
251,179,1,"Failed to stage-in file: u' * from *, None of ...","[Failed, to, stage-in, file:, u', *, from, *,,...",1.0,0.00,[4603450102]
252,214,1,Failed to stage-in file: no error information ...,"[Failed, to, stage-in, file:, no, error, infor...",1.0,0.00,[4603803693]

In [17]:
pilot_errors.outliers_clusters_df.sort_values(by=['mean_similarity'])

,cluster_name,cluster_size,pattern,sequence,mean_similarity,std_similarity,indices
15,15,284,Failed to stage-out file: * to INFN-MILANO-ATL...,"[Failed, to, stage-out, file:, *, to, INFN-MIL...",0.86,0.12,"[4603024326, 4603022444, 4603013948, 460350982..."
175,175,2,Failed to stage-out file: * to no error inform...,"[Failed, to, stage-out, file:, *, to, no, erro...",0.87,0.00,"[4602935745, 4603722871]"
203,203,2,Failed to stage-out file: * to INFN-MILANO-ATL...,"[Failed, to, stage-out, file:, *, to, INFN-MIL...",0.89,0.00,"[4602625433, 4603221319]"
180,180,2,Failed to get replicas from replicas from Ruci...,"[Failed, to, get, replicas, from, replicas, fr...",0.90,0.00,"[4603421365, 4603004958]"
1,1,299,Service not available at the moment: * to srm-...,"[Service, not, available, at, the, moment:, *,...",0.91,0.06,"[4602947351, 4602947347, 4602947362, 460295308..."
...,...,...,...,...,...,...,...
107,107,4,Unrecognized fatal error in transform stderr:S...,"[Unrecognized, fatal, error, in, transform, st...",1.00,0.00,"[4603678234, 4599596711, 4603678233, 4603678241]"
115,115,3,Failed to stage-out file: * to CERN-PROD_SCRAT...,"[Failed, to, stage-out, file:, *, to, CERN-PRO...",1.00,0.00,"[4602912591, 4602915715, 4602804248]"
110,110,3,Service not available at the moment: * to OU_O...,"[Service, not, available, at, the, moment:, *,...",1.00,0.00,"[4603011627, 4603033278, 4602623441]"
79,79,7,Payload log or stdout file too big,"[Payload, log, or, stdout, file, too, big]",1.00,0.00,"[4602846318, 4602700078, 4602846314, 460290912..."
252,252,1,Failed to stage-out file: [IndexError('list in...,"[Failed, to, stage-out, file:, [IndexError('li...",1.00,0.00,[4603113822]

In [15]:
pilot_errors.outliers_df

,piloterrordiag,cleaned,tokenized_wordpunct,tokenized_pyonmttok,cluster
pandaid,,,,,
4599901443,Killed by Harvester due to worker queuing too ...,Killed by Harvester due to worker queuing too ...,"[Killed, by, Harvester, due, to, worker, queui...","[Killed, by, Harvester, due, to, worker, queui...",0
4599901454,Killed by Harvester due to worker queuing too ...,Killed by Harvester due to worker queuing too ...,"[Killed, by, Harvester, due, to, worker, queui...","[Killed, by, Harvester, due, to, worker, queui...",0
4599901466,Killed by Harvester due to worker queuing too ...,Killed by Harvester due to worker queuing too ...,"[Killed, by, Harvester, due, to, worker, queui...","[Killed, by, Harvester, due, to, worker, queui...",0
4599929289,Killed by Harvester due to worker queuing too ...,Killed by Harvester due to worker queuing too ...,"[Killed, by, Harvester, due, to, worker, queui...","[Killed, by, Harvester, due, to, worker, queui...",0
4599929301,Killed by Harvester due to worker queuing too ...,Killed by Harvester due to worker queuing too ...,"[Killed, by, Harvester, due, to, worker, queui...","[Killed, by, Harvester, due, to, worker, queui...",0
...,...,...,...,...,...
4602775130,Failed to stage-out file: mc16_13TeV:HITS.2011...,Failed to stage-out file: * to UKI-NORTHGRID-M...,"[Failed, to, stage, -, out, file, :, *, to, UK...","[Failed, to, stage-out, file:, *, to, UKI-NORT...",4
4603113822,Failed to stage-out file: [IndexError('list in...,Failed to stage-out file: [IndexError('list in...,"[Failed, to, stage, -, out, file, :, [, IndexE...","[Failed, to, stage-out, file:, [IndexError('li...",252
4602893816,Globus system error during stage-out: Globus s...,Globus system error during stage-out: Globus s...,"[Globus, system, error, during, stage, -, out,...","[Globus, system, error, during, stage-out:, Gl...",18
4603264081,Failed to stage-out file: panda:panda.um.group...,Failed to stage-out file: * to INFN-MILANO-ATL...,"[Failed, to, stage, -, out, file, :, *, to, IN...","[Failed, to, stage-out, file:, *, to, INFN-MIL...",15
4602720725,Failed to stage-out file: panda:panda.um.group...,"Failed to stage-out file: * to *, No module na...","[Failed, to, stage, -, out, file, :, *, to, *,...","[Failed, to, stage-out, file:, *, to, *,, No, ...",197

In [22]:
pilot_errors.results.to_csv('pilot_errors.csv')

AttributeError: 'NoneType' object has no attribute 'to_csv'

In [17]:
sup_errors = multistage.exec(sup, 'superrordiag', 'sup.model')

/Users/maria/anaconda3/lib/python3.7/site-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL
/Users/maria/anaconda3/lib/python3.7/site-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [19]:
sup_errors.clusters

,cluster_name,cluster_size,pattern,sequence,mean_similarity,std_similarity,indices
0,3,5873,Diag from worker: Condor HoldReason: None; Con...,"[Diag, from, worker, :, Condor, HoldReason:, N...",1.00,0.00,"[4601156259, 4601228893, 4601228909, 460122891..."
1,7,5593,Diag from worker: Condor HoldReason: CREAM err...,"[Diag, from, worker, :, Condor, HoldReason:, C...",1.00,0.00,"[4601090892, 4601090929, 4601091684, 460109139..."
2,10,2839,Diag from worker: Condor HoldReason: Job not f...,"[Diag, from, worker, :, Condor, HoldReason:, J...",1.00,0.00,"[4601072555, 4602432906, 4602137759, 460193767..."
3,12,1903,Diag from worker: LRMS error: (*) job killed: ...,"[Diag, from, worker, :, LRMS, error:, (*), job...",1.00,0.00,"[4600885785, 4602286362, 4602105319, 460229349..."
4,19,1746,Diag from worker: LRMS error: (*) job killed: ...,"[Diag, from, worker, :, LRMS, error:, (*), job...",1.00,0.00,"[4602240353, 4602542112, 4602542115, 460254210..."
5,20,1535,Diag from worker: Condor HoldReason: CREAM err...,"[Diag, from, worker, :, Condor, HoldReason:, C...",1.00,0.00,"[4602219515, 4602219451, 4602219527, 460221940..."
6,28,1455,Diag from worker: Condor HoldReason: Unspecifi...,"[Diag, from, worker, :, Condor, HoldReason:, U...",1.00,0.00,"[4602225424, 4602405976, 4602387940, 460238801..."
7,23,1155,Diag from worker: condor job submissionHost=LO...,"[Diag, from, worker, :, condor, job, submissio...",1.00,0.00,"[4602428369, 4601596239, 4602428372, 460201938..."
8,40,795,Diag from worker: Condor HoldReason: The syste...,"[Diag, from, worker, :, Condor, HoldReason:, T...",1.00,0.00,"[4602537670, 4602440602, 4602440598, 460244060..."
9,26,733,Diag from worker: Condor HoldReason: CREAM err...,"[Diag, from, worker, :, Condor, HoldReason:, C...",1.00,0.00,"[4602444245, 4602467273, 4602205749, 460220575..."
10,2,723,Diag from worker: cannot get JobStatus of job ...,"[Diag, from, worker, :, cannot, get, JobStatus...",1.00,0.00,"[4600883141, 4601314262, 4601340065, 460131254..."
11,15,646,Diag from worker: LRMS error: (*) Job timeout,"[Diag, from, worker, :, LRMS, error:, (*), Job...",1.00,0.00,"[4601266090, 4601266112, 4601266114, 460127212..."
12,14,424,Diag from worker: Condor HoldReason: None; Con...,"[Diag, from, worker, :, Condor, HoldReason:, N...",1.00,0.00,"[4600971526, 4601925427, 4601661486, 460176946..."
13,32,350,Diag from worker: Condor HoldReason: Job not f...,"[Diag, from, worker, :, Condor, HoldReason:, J...",1.00,0.00,"[4602187395, 4602139399, 4602139460, 460210278..."
14,18,346,Diag from worker: Payload execution error: ret...,"[Diag, from, worker, :, Payload, execution, er...",1.00,0.00,"[4601113024, 4601892583, 4601931996, 460196117..."
15,5,337,Diag from worker: Condor HoldReason: None; Con...,"[Diag, from, worker, :, Condor, HoldReason:, N...",1.00,0.00,"[4600670077, 4601177276, 4601848346, 460202223..."
16,39,266,Diag from worker: Condor HoldReason: CREAM err...,"[Diag, from, worker, :, Condor, HoldReason:, C...",1.00,0.00,"[4602325212, 4602325366, 4602285397, 460228530..."
17,11,251,Diag from worker: LRMS error: (*) Job was canc...,"[Diag, from, worker, :, LRMS, error:, (*), Job...",1.00,0.00,"[4601299749, 4601299755, 4602363233, 460236323..."
18,25,236,Diag from worker: LRMS error: (*) Job missing ...,"[Diag, from, worker, :, LRMS, error:, (*), Job...",1.00,0.00,"[4602013354, 4602150319, 4602219962, 460237805..."
19,38,235,Diag from worker: Condor HoldReason: Job remov...,"[Diag, from, worker, :, Condor, HoldReason:, J...",1.00,0.00,"[4602334587, 4601918935, 4601882172, 460198714..."
20,13,232,Diag from worker: LRMS error: (*) Job was canc...,"[Diag, from, worker, :, LRMS, error:, (*), Job...",1.00,0.00,"[4601092376, 4602280085, 4601791218, 460228647..."
21,16,194,Diag from worker: Condor HoldReason: CREAM err...,"[Diag, from, worker, :, Condor, HoldReason:, C...",1.00,0.00,"[4600895122, 4602229175, 4602359391, 460248326..."
22,21,174,Diag from worker: LRMS error: (*) RemoveReason...,"[Diag, from, worker, :, LRMS, error:, (*), Rem...",1.00,0.00,"[4602348844, 4602510029, 4602501785, 460293745..."
23,6,168,Diag from worker: Condor HoldReason: CREAM err...,"[Diag, from, worker, :, Condor, HoldReason:, C...",1.00,0.00,"[4600972458, 4600971528, 4600972436, 460178760..."
24,22,162,Diag from worker: Condor HoldReason: CREAM err...,"[Diag, from, worker, :, Condor, HoldReason:, C...",1.00,0.00,"[4602345081, 4602389272, 4602389278, 460254163..."
25,47,149,Diag from worker: Condor HoldReason: CREAM err...,"[Diag, from, worker, :, Condor, HoldReason:, C...",1.00,0.00,"[4602311947, 4602263202, 4602444331, 460248352..."
26,59,149,Diag from worker: LRMS error: (*) RemoveReason...,"[Diag, from, worker, :, LRMS, error:, (*), Rem...",1.00,0.00,"[4602914565, 4602816950, 4603393491, 460339349..."
27,35,147,Diag from worker: Condor HoldReason: CREAM err...,"[Diag, from, worker, :, Condor, HoldReason:, C...",1.00,0.00,"[4602483453, 4602483459, 4602507354, 460273107..."
28,75,144,worker already failed at * * with LRMS error: ...,"[worker, already, failed, at, *, *, with, LRMS...",1.00,0.00,"[4603117920, 4603620704, 4603841951, 460342741..."
29,54,141,Diag from worker: Condor HoldReason: CREAM err...,"[Diag, from, worker, :, Condor, HoldReason:, C...",1.00,0.00,"[4602582659, 4602883617, 4602920707, 460292074..."
30,51,109,Diag from worker: Condor HoldReason: CREAM err...,"[Diag, from, worker, :, Condor, HoldReason:, C...",1.00,0.00,"[4602529487, 4602169410, 4602420663, 460241842..."
31,30,102,Diag from worker: Condor HoldReason: CREAM err...,"[Diag, from, worker, :, Condor, HoldReason:, C...",1.00,0.00,"[4601873427, 4602616699, 4602710681, 460298818..."
32,3,129,Diag from worker: Condor HoldReason: CREAM err...,"[Diag, from, worker, :, Condor, HoldReason:, C...",0.99,0.01,"[4603066365, 4603066371, 4603343751, 460301490..."

In [20]:
taskbuf_errors = multistage.exec(taskbuf, 'taskbuffererrordiag', 'taskbuf.model')

/Users/maria/anaconda3/lib/python3.7/site-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL
/Users/maria/anaconda3/lib/python3.7/site-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [22]:
taskbuf_errors.clusters

,cluster_name,cluster_size,pattern,sequence,mean_similarity,std_similarity,indices
0,2,11688,merge job closed,"[merge, job, closed]",1.00,0.0,"[4599909885, 4600493155, 4600493160, 460100921..."
1,7,2905,The worker was cancelled while the job was run...,"[The, worker, was, cancelled, while, the, job,...",1.00,0.0,"[4601090892, 4601090929, 4601091684, 460109139..."
2,8,2369,The worker was finished while the job was runn...,"[The, worker, was, finished, while, the, job, ...",1.00,0.0,"[4601091318, 4601312832, 4602319333, 460246818..."
3,1,1955,reassigned by JEDI,"[reassigned, by, JEDI]",1.00,0.0,"[4600015972, 4600015976, 4600016038, 460001604..."
4,10,1953,The worker was failed while the job was runnin...,"[The, worker, was, failed, while, the, job, wa...",1.00,0.0,"[4600885785, 4602286362, 4602105319, 460229349..."
5,17,1929,merge job failed,"[merge, job, failed]",1.00,0.0,"[4601995559, 4602522115, 4602522116, 460250868..."
6,13,1890,The worker was failed while the job was runnin...,"[The, worker, was, failed, while, the, job, wa...",1.00,0.0,"[4602240353, 4602542112, 4602542115, 460254210..."
7,5,1589,The worker was cancelled while the job was run...,"[The, worker, was, cancelled, while, the, job,...",1.00,0.0,"[4601228893, 4601228909, 4601228910, 460122891..."
8,70,1074,kill by vasilis konstantinides,"[kill, by, vasilis, konstantinides]",1.00,0.0,"[4603515018, 4603515029, 4603515038, 460351504..."
9,20,1065,The worker was cancelled while the job was run...,"[The, worker, was, cancelled, while, the, job,...",1.00,0.0,"[4602428369, 4601596239, 4602428372, 460201938..."
10,28,954,The worker was cancelled while the job was run...,"[The, worker, was, cancelled, while, the, job,...",1.00,0.0,"[4602405976, 4602387940, 4602388016, 460238803..."
11,4,707,The worker was cancelled while the job was run...,"[The, worker, was, cancelled, while, the, job,...",1.00,0.0,"[4601314262, 4601340065, 4601312542, 460131372..."
12,15,588,The worker was cancelled while the job was run...,"[The, worker, was, cancelled, while, the, job,...",1.00,0.0,"[4602219515, 4602219451, 4602219527, 460221940..."
13,37,395,The worker was cancelled while the job was run...,"[The, worker, was, cancelled, while, the, job,...",1.00,0.0,"[4601480639, 4601376184, 4601851112, 460253710..."
14,14,379,killed by /DC=ch/DC=cern/OU=Organic Units/OU=U...,"[killed, by, /DC=ch/DC=cern/OU=Organic, Units/...",1.00,0.0,"[4602175088, 4601675878, 4602265251, 460180219..."
15,26,368,killed by kill by Jason Tyler Colt Barkeloo,"[killed, by, kill, by, Jason, Tyler, Colt, Bar...",1.00,0.0,"[4602474354, 4602170194, 4602410147, 460241016..."
16,9,350,The worker was cancelled while the job was run...,"[The, worker, was, cancelled, while, the, job,...",1.00,0.0,"[4601072555, 4601937675, 4601893990, 460202086..."
17,11,276,The worker was cancelled while the job was run...,"[The, worker, was, cancelled, while, the, job,...",1.00,0.0,"[4600971526, 4601925427, 4601661486, 460176946..."
18,49,272,The worker was cancelled while the job was run...,"[The, worker, was, cancelled, while, the, job,...",1.00,0.0,"[4602936534, 4602552222, 4602856244, 460255220..."
19,64,261,killed by kill by Timothee Theveneaux-Pelzer,"[killed, by, kill, by, Timothee, Theveneaux-Pe...",1.00,0.0,"[4603797199, 4603797206, 4603797217, 460379728..."
20,24,251,killed since all event ranges were processed b...,"[killed, since, all, event, ranges, were, proc...",1.00,0.0,"[4602471906, 4602319538, 4602712688, 460271277..."
21,22,234,didn't process any events on WN or reached las...,"[didn't, process, any, events, on, WN, or, rea...",1.00,0.0,"[4602472158, 4602472159, 4602518015, 460251816..."
22,18,222,The worker was cancelled while the job was run...,"[The, worker, was, cancelled, while, the, job,...",0.99,0.0,"[4602345081, 4602389272, 4602389278, 460254163..."
23,52,206,killed by kill by prodsys,"[killed, by, kill, by, prodsys]",1.00,0.0,"[4603239294, 4603115773, 4603115741, 460311575..."
24,30,194,kill by Jason Tyler Colt Barkeloo,"[kill, by, Jason, Tyler, Colt, Barkeloo]",1.00,0.0,"[4602354271, 4602354275, 4602354280, 460235429..."
25,41,178,kill by Andreas Honle,"[kill, by, Andreas, Honle]",1.00,0.0,"[4602374871, 4602331818, 4602331826, 460337655..."
26,16,172,The worker was failed while the job was runnin...,"[The, worker, was, failed, while, the, job, wa...",1.00,0.0,"[4602348844, 4602510029, 4602501785, 460293745..."
27,6,162,The worker was cancelled while the job was run...,"[The, worker, was, cancelled, while, the, job,...",1.00,0.0,"[4600972458, 4600971528, 4600972436, 460178760..."
28,46,143,transfer timeout for *,"[transfer, timeout, for, *]",1.00,0.0,"[4602426418, 4602426455, 4602426484, 460244838..."
29,48,134,The worker was cancelled while the job was run...,"[The, worker, was, cancelled, while, the, job,...",1.00,0.0,"[4602582659, 4602883617, 4602920707, 460292074..."
30,12,124,kill by Mohsen Rezaei-Estabragh,"[kill, by, Mohsen, Rezaei-Estabragh]",1.00,0.0,"[4600544608, 4600544610, 4600544613, 460054461..."
31,34,117,The worker was cancelled while the job was run...,"[The, worker, was, cancelled, while, the, job,...",1.00,0.0,"[4602325366, 4602074589, 4602074533, 460207456..."
32,25,114,The worker was cancelled while the job was run...,"[The, worker, was, cancelled, while, the, job,...",1.00,0.0,"[4602444245, 4602467273, 4602205749, 460220575..."
33,19,104,The worker was cancelled while the job was run...,"[The, worker, was, cancelled, while, the, job,...",1.00,0.0,"[4601848346, 4602517484, 4601534784, 460185299..."

In [ ]:
taskbuf_errors.results.to_csv('taskbuf_errors.csv')

In [ ]:
print(taskbuf_errors.in_cluster(0))

In [ ]:
taskbuf_errors.cluster.patterns_stats

In [ ]:
print(taskbuf_errors.cluster.in_cluster(2).tolist())