# Clusterlogs Notebook

In [1]:
import pandas as pd
from clusterlogs import pipeline

In [2]:
df = pd.read_csv('taskbuffererrordiag.csv', index_col=0, header=None)

In [3]:
df.shape

(75500, 1)

In [4]:
df[1].values

array(['The worker was cancelled while the job was running : Condor HoldReason: None ; Condor RemoveReason: removed by SYSTEM_PERIODIC_REMOVE due to job restarted undesirably.  ',
       'The worker was failed while the job was starting : Job submission to LRMS failed',
       'The worker was failed while the job was starting : Payload execution error: returned non-zero',
       ...,
       'The worker was cancelled while the job was running : Condor HoldReason: CREAM error: reason=0  ; Worker canceled by harvester due to held too long or not found',
       'The worker was cancelled while the job was running : Condor HoldReason: CREAM error: reason=0  ; Worker canceled by harvester due to held too long or not found',
       'The worker was cancelled while the job was running : Condor HoldReason: CREAM error: reason=0  ; Worker canceled by harvester due to held too long or not found'],
      dtype=object)

In [5]:
target = 1

In [6]:
cluster = pipeline.ml_clustering(df, target, mode='process', model_name='panda_errors.model').process()

Data Preparation finished
Tokenization finished
Found 158 equal groups
Vectorization of tokens finished
Vectorization of sentences is finished
Vocabulary size = 410
Number of dimensions is 20

/Users/maria/anaconda3/lib/python3.7/site-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

DBSCAN finished with 9 clusters

In [7]:
cluster.result.sort_values(by=['cluster_size'],ascending=False)

,pattern,tokenized_dbscan,tokenized_pattern,indices,cluster_size
0,The worker was{*} while the job{*} :{*},"[The, worker, was, {, *, }, while, the, job, {...","[The, ▁worker, ▁was, {, *, }, ▁while, ▁the, ▁j...","[4615343308, 4615337994, 4615175955, 461508934...",41750
2,The worker was failed while the job{*} :{*},"[The, worker, was, failed, while, the, job, {,...","[The, ▁worker, ▁was, ▁failed, ▁while, ▁the, ▁j...","[4614779943, 4614661062, 4614661047, 461466106...",13887
7,merge job failed,"[merge, job, failed]","[merge, ▁job, ▁failed]","[4615228268, 4615228278, 4615228257, 461522828...",13477
6,transfer timeout for {*},"[transfer, timeout, for, {, *, }]","[transfer, ▁timeout, ▁for, ▁{, *, }]","[4612795587, 4612775908, 4612697625, 461264737...",2839
8,didn't process any events on WN{*} last{*} and{*},"[didn, ', t, process, any, events, on, WN, {, ...","[didn, ', t, ▁process, ▁any, ▁events, ▁on, ▁WN...","[4614751567, 4614751562, 4614751565, 461475156...",2229
1,killed by{*},"[killed, by, {, *, }]","[killed, ▁by, {, *, }]","[4611566642, 4611566654, 4614558085, 461455809...",1277
5,killed by /DC=ch/cernOUOrganic{*}{*}Robot:{*},"[killed, by, /, DC, =, ch, /, cernOUOrganic, {...","[killed, ▁by, ▁/, DC, =, ch, /, cernOUOrganic,...","[4607017038, 4607017019, 4607017006, 460701701...",26
3,killed by killed since pre-merge job {*} gone,"[killed, by, killed, since, pre-merge, job, {,...","[killed, ▁by, ▁killed, ▁since, ▁pre-merge, ▁jo...","[4608065932, 4608065937, 4608047803, 460800858...",12
4,set failed since no successfull events,"[set, failed, since, no, successfull, events]","[set, ▁failed, ▁since, ▁no, ▁successfull, ▁eve...","[4614086534, 4611739754, 4611696895]",3

In [8]:
stat = cluster.validation(cluster.result)

In [9]:
stat

,cluster_name,cluster_size,pattern,mean_similarity,std_similarity
0,0,41750,The worker was{*} while the job{*} :{*},0.52,0.21
2,2,13887,The worker was failed while the job{*} :{*},0.68,0.08
7,7,13477,merge job failed,1.00,0.00
6,6,2839,transfer timeout for {*},0.75,0.08
8,8,2229,didn't process any events on WN{*} last{*} and{*},0.53,0.13
1,1,1277,killed by{*},0.59,0.07
5,5,26,killed by /DC=ch/cernOUOrganic{*}{*}Robot:{*},0.78,0.17
3,3,12,killed by killed since pre-merge job {*} gone,0.90,0.04
4,4,3,set failed since no successfull events,1.00,0.00

In [10]:
cluster.df.head()

,1,cleaned,tokenized_dbscan,hashed,tokenized_pattern
0,,,,,
4615345009,The worker was cancelled while the job was run...,The worker was cancelled while the job was run...,"[The, worker, was, cancelled, while, the, job,...",-704149957511650756,"[The, ▁worker, ▁was, ▁cancelled, ▁while, ▁the,..."
4615344962,The worker was failed while the job was starti...,The worker was failed while the job was starti...,"[The, worker, was, failed, while, the, job, st...",-4921519384295394616,"[The, ▁worker, ▁was, ▁failed, ▁while, ▁the, ▁j..."
4615344837,The worker was failed while the job was starti...,The worker was failed while the job was starti...,"[The, worker, was, failed, while, the, job, st...",-3712856157462149334,"[The, ▁worker, ▁was, ▁failed, ▁while, ▁the, ▁j..."
4615343705,The worker was failed while the job was starti...,The worker was failed while the job was starti...,"[The, worker, was, failed, while, the, job, st...",-4921519384295394616,"[The, ▁worker, ▁was, ▁failed, ▁while, ▁the, ▁j..."
4615343308,The worker was failed while the job was starti...,The worker was failed while the job was starti...,"[The, worker, was, failed, while, the, job, st...",-9117641507327368799,"[The, ▁worker, ▁was, ▁failed, ▁while, ▁the, ▁j..."

In [11]:
cluster.in_cluster(cluster.result, 0)

array(['The worker was failed while the job was starting : LRMS error: (257) Node fail',
       'The worker was failed while the job was starting : LRMS error: (-1) Node fail',
       'The worker was failed while the job was starting : LRMS error: (-1) Node fail',
       ...,
       'The worker was cancelled while the job was running : condor job submissionHost=LOCAL batchID=372895.6 not found. Skipped',
       'The worker was cancelled while the job was running : condor job submissionHost=LOCAL batchID=372391.0 not found. Skipped',
       'The worker was cancelled while the job was running : Condor HoldReason: CREAM error: Cannot upload file:///home/prdatlas030/home_crce4_012318214/CREAM012318214/grid.4650039.10.out into gsiftp://atlasce4.lnf.infn.it/var/cream_sandbox/prdatlas/CN_Robot__ATLAS_Pilot1_CN_614260_CN_atlpilo1_OU_Users_OU_O'],
      dtype=object)

In [12]:
clusters, outliers = cluster.split_clusters(cluster.result, 'cluster_size')

In [13]:
clusters

,pattern,tokenized_dbscan,tokenized_pattern,indices,cluster_size
0,The worker was{*} while the job{*} :{*},"[The, worker, was, {, *, }, while, the, job, {...","[The, ▁worker, ▁was, {, *, }, ▁while, ▁the, ▁j...","[4615343308, 4615337994, 4615175955, 461508934...",41750
1,killed by{*},"[killed, by, {, *, }]","[killed, ▁by, {, *, }]","[4611566642, 4611566654, 4614558085, 461455809...",1277
2,The worker was failed while the job{*} :{*},"[The, worker, was, failed, while, the, job, {,...","[The, ▁worker, ▁was, ▁failed, ▁while, ▁the, ▁j...","[4614779943, 4614661062, 4614661047, 461466106...",13887
6,transfer timeout for {*},"[transfer, timeout, for, {, *, }]","[transfer, ▁timeout, ▁for, ▁{, *, }]","[4612795587, 4612775908, 4612697625, 461264737...",2839
7,merge job failed,"[merge, job, failed]","[merge, ▁job, ▁failed]","[4615228268, 4615228278, 4615228257, 461522828...",13477
8,didn't process any events on WN{*} last{*} and{*},"[didn, ', t, process, any, events, on, WN, {, ...","[didn, ', t, ▁process, ▁any, ▁events, ▁on, ▁WN...","[4614751567, 4614751562, 4614751565, 461475156...",2229